#auction .page-hd { width: 100%; margin-top: 20px; padding-bottom: 5px; overflow: hidden; }
#auction .page-hd .hd { float: left; padding-left: 25px; background: url(/images/d3/modern_simple/common/bull_w20_h21_arrow.gif) no-repeat 0 50%; }
#auction .page-hd .link { float: right; }
#auction .page-hd .link li { float: left; margin-left: 20px; padding-left: 25px; background: url(/images/d3/modern_simple/common/bull_w21_h20_plus.gif) no-repeat 0 50%; }
#auction .page-hd .hd span, 
#auction .page-hd .link li a { font-size: 18px; font-weight: bold; letter-spacing: -1px; } 
#auction .page-wrap { width: 100%; }
#auction .page-wrap .info { padding: 10px 0; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; }
#auction .page-wrap .info .bg-line { background: url(/images/d3/modern_simple/common/line_w1_h12.gif) repeat-y 100% 100%; }
#auction .page-wrap .info .bg-under-line  {border-bottom:1px dashed #575757; }
#auction .page-wrap .info .thumbnail { text-align: center; }
#auction .page-wrap .info .thumbnail img { max-width: 150px; max-height: 150px; }
#auction .page-wrap .info th { padding-top: 10px; background: url(/images/d3/modern_simple/common/auction_icon01.gif) no-repeat 10px 10px; text-align: left; font-weight: normal; }
#auction .page-wrap .info th,
#auction .page-wrap .info td { padding-left: 30px; padding-bottom: 10px; }
#auction .page-wrap .info tr.no-pb td { padding-bottom: 0; }
#auction .page-ft { margin-top: 10px; text-align: right; }
