#bbsData .bbs-link { position: relative; }
#bbsData .bbs-link-top { margin-top: 10px; margin-bottom: -40px; margin-right: 400px; text-align: left; margin-left: 18px; }
#bbsData .bbs-link-btm { margin-top: 10px; margin-bottom: -40px; text-align: right; }

.bbs-table-list { border-top:5px solid #000 }
.bbs-table-list td a { font-weight:bold }

.bbs-tit h3 { float:left; font-size:25px; color:#000; font-weight:bold; line-height:30px }

.fixed-img-collist { padding:45px 10px 0; border-bottom:1px solid #e9e9e9 }     
.fixed-img-collist ul li { float: left; padding:0 8px 35px; width:377px }
.fixed-img-collist ul li a { display: block; width:100% }
.fixed-img-collist ul li a span { display: block; }
.fixed-img-collist ul li a span img { width:100%;}
.fixed-img-collist ul li a strong { color:#343434; font-size:20px;}
.fixed-img-collist ul li a span { margin-bottom:30px } 
/* noimage */
.fixed-img-collist ul li a span.noimg{ display: block; width:252px; height:252px; text-align: center; font-size:18px; color:#f2f2f2; font-weight:bold; line-height:254px; border:1px solid #e9e9e9 }
.fixed-img-collist ul li p { margin-top:3px; font-family:dotum }

.kse-menu-item.kse-menu-item-magazine::before {
  width: calc(100% - 64px);
}

.kse-menu-item.kse-menu-item-magazine * {
  color: #0097e6 !important;
  fill: #0097e6 !important;
}

.kse-link-magazine-dummy a {
  color: #0097e6 !important;
  fill: #0097e6 !important;
  font-weight: bold;
  font-size: 20px !important;
}