.btnArea{}
.btnArea:after{content:"";display:block;clear:both;}
.btnArea .left{float:left;width:50%;}
.btnArea .right{float:right;width:50%;}
.btnArea .center{text-align:center;}

/* button */
.cbtn{display:inline-block;font-size:11px;color:#000;min-width:98px;height:31px;line-height:32px;border:1px solid #000;text-align:center;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.cbtn.form{}
.cbtn.form.action{background-color:#000;color:#fff;}
.cbtn.form:hover{background-color:#000;color:#fff;}
.cbtn.form.action:hover{background-color:#fff;color:#000;}

#join-complete{padding-bottom:80px;color:#000;}
.imgWrap.title-img{text-align:center; padding:100px 0 40px }
.tit-join-complete{font-size:44px;letter-spacing:-2px;color:#000;font-weight:bold;line-height:54px;text-align:center;}
.complete-box{padding-top:16px;line-height:20px;color:#7f7f7f;font-size:14px;text-align:center;}
							
.join-footer{text-align:center;padding-top:50px }
.join-footer .cbtn.form{width:228px;height:58px;line-height:58px;font-size:16px;margin:0 5px;}

