/*페이지 공통*/
#mypage *{
    color:#191919;
}

#mypage .myPageMainWrap{
    position:relative;
}

#mypage .myPageMainWrap .leftBox{
    position:sticky;
    width:274px;
}

#mypage .myPageMainWrap .rightBox{
    width:891px;
}


/*회원 그룹 정보*/
#mypage .myPageMainWrap .rightBox .userGroup{
    padding-top:43px;
    margin-bottom:50px;
}

#mypage .myPageMainWrap .rightBox .userGroup .lvl-img{
    width:206px;
}

#mypage .myPageMainWrap .rightBox .userGroup .lvl-img img{
    display:none;
    width:100%;
}

#mypage .myPageMainWrap .rightBox .userGroup.rank01 .lvl-img img.rank01,
#mypage .myPageMainWrap .rightBox .userGroup.rank02 .lvl-img img.rank02,
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .lvl-img img.rank03,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .lvl-img img.rank04{
    display:block;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp{
    width:617px;
    padding-left:68px;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .userGroupName{
    padding:10px 0 15px;
    font-size:31px;
    font-weight:900;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .userGroupName strong{
    font-weight:900;
    color:#767676;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .userGroupBenefit{
    display:none;
    font-size:21px;
    color:#767676;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .userGroupBenefit strong{
    font-weight:900;
    color:#767676;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .userGroupBenefit .reservePer{
    display:none;
}

#mypage .myPageMainWrap .rightBox .userGroup.rank02 .grp .userGroupBenefit,
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .userGroupBenefit,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .userGroupBenefit,
#mypage .myPageMainWrap .rightBox .userGroup.rank02 .grp .userGroupBenefit .reservePer.rank02,
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .userGroupBenefit .reservePer.rank03,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .userGroupBenefit .reservePer.rank04{
    display:inline-block;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap{
    position:relative;
    padding:15px 0;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap ul li{
    position:relative;
    width:calc((100% - 20px)/3);
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap ul li:after{
    content:'';
    display:block;
    position:absolute;
    width:calc(100% - 5px);
    height:6px;
    left:10px;
    top:7px;
    background:#dbdbdb;
    z-index:-1;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap ul li:last-child{
    width:20px;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap ul li:last-child:after{
    display:none;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap ul li span{
    display:block;
    width:20px;
    height:20px;
    font-size:12px;
    line-height:20px;
    text-align:center;
    color:#fff;
    background:#dbdbdb;
    border-radius:15px;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap .levelupPoint{
    position:absolute;
    width:150px;
    padding:15px 20px;
    top:50px;
    left:0;
    margin-left:-85px;
    background:#fff;
    box-shadow: 0px 3px 10px rgb(0, 0, 0, 0.15);
    border-radius:10px;
    z-index:1;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap .levelupPoint:after{
    display:block;
    content:'';
    clear:both;
    position:absolute;
    top:-5px;
    left:50%;
    margin-left:-5px;
    width:10px;
    height:10px;
    transform:rotate(45deg);
    background:#fff;
    box-shadow: -3px -3px 3px rgb(0, 0, 0, 0.03);
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap .levelupPoint span{
    display:block;
    font-size:13px;
    color:#b2b2b2;
    text-align:center;
    line-height:18px;
    margin-bottom:5px;
}

#mypage .myPageMainWrap .rightBox .userGroup .grp .nextGradeWrap .levelupPoint strong{
    display:block;
    font-size:14px;
    font-weight:900;
    text-align:center;
}

/*회원그룹 등급별 포지션*/
#mypage .myPageMainWrap .rightBox .userGroup.rank01 .grp .nextGradeWrap .levelupPoint{
    left:0;
}
#mypage .myPageMainWrap .rightBox .userGroup.rank02 .grp .nextGradeWrap .levelupPoint{
    left:32.3%;
}
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .nextGradeWrap .levelupPoint{
    left:64.5%;
}
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .nextGradeWrap .levelupPoint{
    left:96.8%;
}

/*회원 그룹 혜택*/
#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit{
    width:100%;
}

#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit{
    margin-top:80px;
    padding-top:25px;
    border-top:1px solid #eee;
}

#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .hd{
    margin-top:0;
}

#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .nowGradeBenefitList{
    padding-top:25px;
}

#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .nowGradeBenefitList li{
    width:140px;
    padding:20px 17px 60px;
    margin-right:30px;
    border-radius:10px;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.15);
}

#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .nowGradeBenefitList li .imgWrap{
    display: block;
    margin-bottom:5px;
    transform: scale(0.85) translate(-15px, 0);
}

#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .nowGradeBenefitList li span{
    margin-bottom:10px;
    font-size:14px;
    color:#a5a5a5;
}

#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .nowGradeBenefitList li strong{
    font-size:20px;
    font-weight:900;
}


#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .benefitInfoCon > ul > li{
    padding-left:24px;
    font-size:14px;
    color:#a6a6a6;
    line-height:24px;
}


#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .benefitInfoCon > ul > li > ul > li{
    padding-left:18px;
    font-size:14px;
    color:#b8b8b8;
    line-height:20px;
}


/*회원 그룹 등급별 노출 지정*/

#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .rank02,
#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .rank03,
#mypage .myPageMainWrap .rightBox .userGroup .userGradeBenefit .nowGradeBenefit .rank04{
    display:none;
}


#mypage .myPageMainWrap .rightBox .userGroup.rank02 .userGradeBenefit .nowGradeBenefit .rank02{
    display:block;
}

#mypage .myPageMainWrap .rightBox .userGroup.rank03 .userGradeBenefit .nowGradeBenefit .rank03{
    display:block;
}

#mypage .myPageMainWrap .rightBox .userGroup.rank04 .userGradeBenefit .nowGradeBenefit .rank04{
    display:block;
}


/*회원 그룹 등급별 색지정*/
/*초승달*/
#mypage .myPageMainWrap .rightBox .userGroup.rank01 .grp .userGroupName strong.userRank,
#mypage .myPageMainWrap .rightBox .userGroup.rank01 .grp .userGroupBenefit strong.userRank{
    color:#CCC1B2;
}
#mypage .myPageMainWrap .rightBox .userGroup.rank01 .grp .nextGradeWrap ul.userRank li:nth-child(1) span{
    background:#CCC1B2;
}
/*반달*/
#mypage .myPageMainWrap .rightBox .userGroup.rank02 .grp .userGroupName strong.userRank,
#mypage .myPageMainWrap .rightBox .userGroup.rank02 .grp .userGroupBenefit strong.userRank{
    color:#FCA729;
}
#mypage .myPageMainWrap .rightBox .userGroup.rank02 .grp .nextGradeWrap ul.userRank li:nth-child(1) span,
#mypage .myPageMainWrap .rightBox .userGroup.rank02 .grp .nextGradeWrap ul.userRank li:nth-child(1):after,
#mypage .myPageMainWrap .rightBox .userGroup.rank02 .grp .nextGradeWrap ul.userRank li:nth-child(2) span{
    background:#FCA729;
}
/*상현달*/
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .userGroupName strong.userRank,
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .userGroupBenefit strong.userRank{
    color:#AA4743;
}
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .nextGradeWrap ul.userRank li:nth-child(1) span,
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .nextGradeWrap ul.userRank li:nth-child(1):after,
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .nextGradeWrap ul.userRank li:nth-child(2) span,
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .nextGradeWrap ul.userRank li:nth-child(2):after,
#mypage .myPageMainWrap .rightBox .userGroup.rank03 .grp .nextGradeWrap ul.userRank li:nth-child(3) span{
    background:#AA4743;
}
/*보름달*/
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .userGroupName strong.userRank,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .userGroupBenefit strong.userRank{
    color:#2957FF;
}
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .nextGradeWrap ul.userRank li:nth-child(1) span,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .nextGradeWrap ul.userRank li:nth-child(1):after,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .nextGradeWrap ul.userRank li:nth-child(2) span,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .nextGradeWrap ul.userRank li:nth-child(2):after,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .nextGradeWrap ul.userRank li:nth-child(3) span,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .nextGradeWrap ul.userRank li:nth-child(3):after,
#mypage .myPageMainWrap .rightBox .userGroup.rank04 .grp .nextGradeWrap ul.userRank li:nth-child(4) span{
    background:#2957FF;
}


/* 타이틀 */
#mypage .hd { position: relative; margin-top:80px }
#mypage .hd h3 { font-size:24px; font-weight:900; line-height:35px }
#mypage .hd .view { position: absolute; top: 15px; right: 0; color: #767676; font-weight: bold; }
#mypage .hd .view img{ width: 5px; vertical-align: middle; margin-top: -3px; margin-left: 3px;}