/* Review Wraper */
.kse-review-wrapper .pr-cate-plus {
  /* primary-6 */
  background-color: #0097e6 !important;
  /* primary-1 */
  box-shadow: 0 2px 0 #e6faff;
}

.kse-review-wrapper .fa-search {
  /* primary-6 */
  background-color: #0097e6 !important;
  /* primary-1 */
  box-shadow: 0 2px 0 #e6faff;
}

/* Wrapper */
.kse-wrapper-hide .past_list {
  display: none !important;
}

.kse-wrapper-show .past_list {
  outline: none !important;
  position: relative !important;
  display: inline-block !important;
  font-weight: 400 !important;
  white-space: nowrap !important;
  text-align: center !important;
  background-image: none !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  cursor: pointer !important;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  user-select: none !important;
  touch-action: manipulation !important;
  line-height: 1.5714285714285714 !important;
  color: rgba(0, 0, 0, 0.88) !important;
  font-size: 14px !important;
  padding: 8px 15px !important;
  border-radius: 4px !important;
  /* primary-6 */
  background-color: #0097e6 !important;
  /* primary-1 */
  box-shadow: 0 2px 0 #e6faff !important;
  color: white !important;
  letter-spacing: unset !important;
}

/* Layout */
.kse-layout-header {
  height: 64px;

  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  /* primary-6 */
  background: #0097e6;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kse-layout-header a {
  line-height: 64px;
  text-decoration: none;
}

.kse-layout-dummy {
  height: 64px;
}

.kse-layout-header-content {
  padding-inline: 24px;
  padding-block: 20px;
}

.kse-layout-header-primary {
  /* primary-6 */
  background-color: #0097e6;
}

.kse-layout-header-middle-mobile {
  padding-left: 32px;
  padding-right: 32px;
}
.kse-layout-header-middle-mobile img {
  width: 150px;
}

/* Display */

.kse-hide {
  display: none;
}

/* Row */

.kse-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
}

.kse-row-btn {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
}
.kse-row-btn > * {
  margin-left: -1px;
}
.kse-row-btn > *:hover {
  z-index: 10;
}
.kse-row-btn > *:active {
  z-index: 10;
}

.kse-row-btn > .kse-btn-default-active,
.kse-row-btn > .kse-btn-default.swiper-slide-thumb-active {
  z-index: 5;
}

.kse-row-lg {
  min-width: 1200px;
  width: 1200px;
}

.kse-row-lg-min {
  min-width: 1200px;
}

.kse-row-space-between {
  justify-content: space-between;
}

.kse-row-end {
  justify-content: flex-end;
}

.kse-row-center {
  justify-content: center;
}

.kse-row-align-center {
  align-items: center;
}

/* Column */
.kse-col-block {
  flex: 1 !important;
}

.kse-col-block-1-75 {
  flex: 1.75 !important;
}

.kse-col-block.kse-col-no-style-hp {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.kse-col-center {
  text-align: center;
}

/* Content */
.kse-content {
  padding: 24px;
}

/* Border */
.kse-border-radius {
  border-radius: 4px;
}

/* Divider */
.kse-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgba(5, 5, 5, 0.06);
}

.kse-divider-no-style {
  display: block;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgba(5, 5, 5, 0.06);
  margin: 0;
  padding: 0;
}

.kse-divider-primary-10 {
  /* primary-10 */
  border-top: 1px solid #00284d;
}

/* Space */
.kse-space {
  display: flex;
}

.kse-space-large {
  gap: 24px;
}

.kse-space-middle {
  gap: 16px;
}

.kse-space-small {
  gap: 8px;
}

.kse-space-align-center {
  display: inline-flex;
  align-items: center;
}

.kse-space-vertical-large {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.kse-space-vertical-middle {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.kse-space-vertical-small {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.kse-space-vertical-mini {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

/* Typography */
/* Text */
.kse-text-small {
  font-size: 12px;
}

.kse-text {
  font-size: 14px !important;
}

.kse-text-middle {
  font-size: 16px;
}

.kse-text-large {
  font-size: 20px;
}

.kse-text-primary,
.kse-text-primary * {
  /* primary-6 */
  color: #0097e6 !important;
}

.kse-text-primary-10,
.kse-text-primary-10 * {
  /* primary-10 */
  color: #00284d !important;
}

.kse-text-bold {
  font-weight: bold !important;
}

.kse-text-primary-bg {
  /* primary-6 */
  background-color: #0097e6;
  color: white !important;
}

/* Link */
.kse-link-primary-bg-hover {
  color: white !important;
  position: relative;
}
.kse-link-primary-bg-hover:before {
  content: "";
  background: white;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.kse-layout-header .kse-link-primary-bg-hover:before {
  top: 0px;
  bottom: unset;
  height: 2px;
}

.kse-link-primary-bg-hover:hover::before {
  width: 100%;
}

.kse-link-hover:hover {
  /* primary-6 */
  color: #0097e6;
}
.kse-link-hover:hover * {
  /* primary-6 */
  color: #0097e6;
  /* primary-6 */
  fill: #0097e6;
}

.kse-link-bold-hover {
  font-weight: bold;
}
.kse-link-bold-hover:hover {
  color: #003f73 !important;
}
.kse-link-bold-hover:hover * {
  color: #003f73 !important;
  fill: #003f73 !important;
}

/* Title */
.kse-title-1 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 38px;
  line-height: 1.2105263157894737;
}

.kse-title-2 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2666666666666666;
}

.kse-title-3 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3333333333333333;
}

.kse-title-4 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}

.kse-title-5 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

/* Required */
.kse-required::before {
  display: inline-block;
  margin-inline-end: 4px;
  /* primary-6 */
  color: #0097e6;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.kse-required-absolute {
  position: relative;
}

.kse-required-absolute::before {
  position: absolute;
  left: -10px;
}

/* Affix */
.kse-affix {
  position: absolute;
  width: 100%;
  background: white;
  z-index: 1000;
}

.kse-affix-fixed {
  position: fixed;
  top: 0;
}

.kse-affix-hidden {
  display: none;
}

/* Absolute */
.kse-absolute {
  position: absolute;
}

/* Relative */
.kse-relative {
  position: relative;
}

/* Break */
.kse-layout-header-content .kse-break {
  content: " ";
  display: block;
  height: 20px;
}

/* Button */

/*  kse-btn  base style*/
.kse-btn,
.kse-btn-wrap .MS_input_file_button {
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 4px;
}

.kse-btn:after,
.kse-btn-wrap .MS_input_file_button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  /* primary-6 */
  box-shadow: 0 0 4px 4px #0097e6;
}

.kse-btn:active:after {
  /* primary-6 */
  box-shadow: 0 0 0 0 #0097e6;
  border-radius: 4px;
  opacity: 1;
  transition: 0s;
}

/*  kse-btn-primary*/

.kse-btn-primary {
  color: #fff;
  /* primary-6 */
  background-color: #0097e6;
  /* primary-1 */
  box-shadow: 0 2px 0 #e6faff;
}

.kse-btn-primary:not(:disabled):hover {
  color: #fff !important;
  background-color: #27b2f2 !important;
}

/* kse-btn-default */

.kse-btn-default {
  background-color: #fff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}

.kse-btn-default:not(:disabled):hover {
  color: #4096ff !important;
  border-color: #4096ff !important;
}

.kse-btn-default:not(:disabled):hover * {
  color: #4096ff !important;
  border-color: #4096ff !important;
  fill: #4096ff;
}

/* kse-btn-danger */

.kse-btn-danger {
  background-color: #fff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}

.kse-btn-danger:not(:disabled):hover {
  color: #ff4d4f !important;
  border-color: #ff4d4f !important;
}

.kse-btn-danger:not(:disabled):hover * {
  color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  fill: #ff4d4f !important;
}

.kse-btn-danger::after {
  box-shadow: 0 0 4px 4px #ff4d4f;
}

.kse-btn-danger:active:after {
  box-shadow: 0 0 0 0 #ff4d4f;
}

/* kse-btn-circle */

.kse-btn-circle {
  padding: 12px !important;
  border-radius: 100% !important;
}

.kse-btn-circle:after {
  border-radius: 100% !important;
}

.kse-btn-circle:active:after {
  border-radius: 100% !important;
}

/* kse-btn-default-active */

.kse-btn-default-active,
.kse-row-btn > .kse-btn-default.swiper-slide-thumb-active {
  background-color: #fff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  color: #4096ff !important;
  border-color: #4096ff !important;
}

/* kse-btn-large */

.kse-btn-large {
  padding: 16px 30px;
}

.kse-btn-large.kse-btn-naver,
.kse-btn-large.kse-btn-kakao-talk {
  padding: 18.25px 30px;
}

/* kse-btn-compact */

.kse-btn-compact {
  border-radius: 0px;
}

.kse-btn-compact:after {
  border-radius: 0px !important;
}

.kse-btn-compact:active:after {
  border-radius: 0px !important;
}

/* kse-btn-prefix */

.kse-btn-prefix {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.kse-btn-prefix:after {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.kse-btn-prefix:active:after {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* kse-btn-suffix */

.kse-btn-suffix {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.kse-btn-suffix:after {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.kse-btn-suffix:active:after {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/* kse-btn-disabled */
.kse-btn-disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.kse-btn.kse-btn-disabled:hover {
  cursor: not-allowed !important;
  border-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.4) !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
  box-shadow: none !important;
}

.kse-btn.kse-btn-disabled::after {
  display: none !important;
}

/* kse-btn-kakao-talk */
.kse-btn-kakao-talk {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 8px;
  line-height: unset;
  padding: 9.4px 15px;
}

.kse-btn-kakao-talk * {
  fill: #fadf2d;
}

.kse-btn-default.kse-btn-kakao-talk:not(:disabled):hover {
  color: #edc705 !important;
  border-color: #edc705 !important;
}

.kse-btn-default.kse-btn-kakao-talk:not(:disabled):hover * {
  color: #edc705 !important;
  border-color: #edc705 !important;
  fill: #edc705;
}

.kse-btn.kse-btn-kakao-talk:after {
  box-shadow: 0 0 4px 4px #edc705;
}

.kse-btn.kse-btn-kakao-talk:active:after {
  box-shadow: 0 0 0 0 #edc705;
}

/* kse-btn-naver */
.kse-btn-naver {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 8px;
  line-height: unset;
  padding: 9.4px 15px;
}

.kse-btn-naver * {
  fill: #74e05c;
}

.kse-btn-default.kse-btn-naver:not(:disabled):hover {
  color: #4ed436 !important;
  border-color: #4ed436 !important;
}

.kse-btn-default.kse-btn-naver:not(:disabled):hover * {
  color: #4ed436 !important;
  border-color: #4ed436 !important;
  fill: #4ed436;
}

.kse-btn.kse-btn-naver:after {
  box-shadow: 0 0 4px 4px #4ed436;
}

.kse-btn.kse-btn-naver:active:after {
  box-shadow: 0 0 0 0 #4ed436;
}

/*Menu*/
.kse-menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0;
  outline: none;
  display: flex;
  line-height: 46px;
  border: 0;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.88);
  background: #fff;
}

.kse-menu-dummy {
  height: 64px;
  position: relative;
}

/*MenuDepth1*/
.kse-menu-item {
  list-style: none;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  flex: none;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  padding-right: 64px;

  margin-bottom: 0;
  border-radius: 8px;
  background-color: transparent;
  opacity: 1;
  order: 0;
}
.kse-layout-header-bottom-mobile .kse-menu-item {
  padding-right: 0px;
}

.kse-menu-item:before {
  content: "";
  /* primary-6 */
  background: #0097e6;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.kse-layout-header-bottom-mobile .kse-menu-item:before {
  transition: all 0s ease-in-out;
}
.kse-menu-item:hover::before {
  width: calc(100% - 64px);
}

.kse-layout-header-bottom-mobile .kse-menu-item:hover::before {
  width: 100%;
}
.kse-menu-horizontal .kse-menu-item:hover::before {
  width: 0%;
}

.kse-menu-item:hover * {
  /* primary-6 */
  color: #0097e6 !important;
  /* primary-6 */
  fill: #0097e6 !important;
}

.kse-menu-item a {
  color: rgb(0 0 0 / 85%);
  text-decoration: none;
}

.kse-menu-item-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: initial;
}

/* Menu-Horizontal */
.kse-menu-horizontal {
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
  list-style: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.88);
  background: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;

  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.kse-menu-item-group {
}

.kse-menu-item-group-title {
  font-weight: bold;
  color: #00284d;
  padding: 8px 16px;
  padding-left: 0;
  padding-bottom: 0;
  font-size: 24px;

  transition: all 0.3s;
  box-sizing: border-box;
}
.kse-menu-item-group > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0px;
  margin-block-end: 0px;
  display: block;
}

.kse-menu-item-group > ul > li {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  display: flex;
  align-items: center;
  transition: border-color 0.3s, background 0.3s,
    padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

  list-style-position: inside;
  list-style-type: disc;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;

  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.kse-menu-item-group > ul > li > a {
  font-size: 16px;
  width: 100%;
}

.kse-menu-item-group > ul > li.kse-menu-item-selected {
  background-color: #e6f4ff !important;
  /* primary-6 */
  color: #0097e6 !important;
}
.kse-menu-item-group > ul > li.kse-menu-item-selected:hover {
  background-color: #e6f4ff !important;
  /* primary-6 */
  color: #0097e6 !important;
}
.kse-menu-item-group > ul > li.kse-menu-item-selected > a {
  /* primary-6 */
  color: #0097e6 !important;
}
.kse-menu-item-group > ul > li.kse-menu-item-selected:hover > a {
  /* primary-6 */
  color: #0097e6 !important;
}

.kse-menu-item-group > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.88) !important;
}

.kse-menu-item-group > ul > li > a {
  text-decoration: none;
}

.kse-menu-item-group > ul > li:hover > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.88) !important;
}

/* Sider */
.kse-layout-sider-children {
  width: 275px;
}

.kse-layout-sider-header {
  background-color: rgba(0, 0, 0, 0.06);
  padding: 24px;
  font-size: 20px;
  font-weight: bold;
}

.kse-layout-sider-header-customer {
  font-size: 24px;
}

/* Shadow */
.kse-shadow {
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%) !important;
}

/* Block */
.kse-block {
  width: 100%;
}

/* Responsive Visibility */

@media screen and (min-width: 0px) and (max-width: 1500px) {
  .kse-product-view-history {
    display: none;
  } /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
  .kse-affix-fixed {
    position: absolute;
  }
}

/* Icon */
.kse-icon-mini {
  font-size: 8px;
  display: block;

  height: 8px;
  color: #555;
  fill: #555;
}

.kse-icon-small {
  font-size: 16px;
  display: block;

  height: 16px;
  color: #555;
  fill: #555;
}

.kse-icon {
  display: block;
  font-size: 32px;
  height: 32px;
  color: #555;
  fill: #555;
}

.kse-icon * {
  color: #555;
  fill: #555;
}

.kse-icon-link:hover * {
  /* primary-6 */
  fill: #0097e6;
}

.kse-icon-bold-link:hover * {
  fill: #003f73;
}

.kse-icon-link:hover {
  /* primary-6 */
  color: #0097e6;
  /* primary-6 */
  fill: #0097e6;
}

.kse-icon-bold-link:hover {
  color: #003f73;
  fill: #003f73;
}

/* Badge */
.kse-badge {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;
  display: inline-block;
  width: fit-content;
}

.kse-badge-count {
  z-index: auto;
  min-width: 20px;
  height: 20px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
  /* primary-6 */
  background: #0097e6;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #fff;
  transition: background 0.2s;
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0%;
  overflow: hidden;
}

/* Card */
.kse-card {
}
.kse-card-body {
  padding: 24px;
}

.kse-card-hoverable:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
}

/* Input */

.kse-input,
.MS_login_id.kse-input,
.MS_login_pw.kse-input,
.kse-input-wrapper input {
  height: unset;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 15px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px !important;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;

  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  resize: none;
}

.kse-input:focus:not(:read-only),
.kse-input-wrapper input:focus:not(:read-only) {
  z-index: 10;
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
  border-inline-end-width: 1px;
  outline: 0;
}

:not(.kse-input-read-only-border) input:read-only:not(.kse-input),
:not(.kse-input-read-only-border).kse-input:read-only {
  border: none;
}

.kse-input:hover:not(:read-only),
.kse-input-wrapper input:hover:not(:read-only) {
  border-color: #4096ff;
  border-inline-end-width: 1px;
}

.kse-input:placeholder-shown,
.kse-input-wrapper input:placeholder-shown {
  text-overflow: ellipsis;
}

.kse-input-btn-suffix:hover * {
  color: #0958d9;
  border-color: #0958d9;
  fill: #0958d9;
}
.kse-input-suffix-wrapper input {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-right: none;
}
.kse-input-suffix-wrapper button {
  height: 100%;
  border-end-start-radius: 0;
  border-start-start-radius: 0;
}

.kse-input-suffix-wrapper button:hover {
  z-index: 20;
}

.kse-input-suffix-wrapper {
  display: flex;
}

.kse-input-suffix-wrapper {
  inset-inline-start: -1px;
  border-inline-start: 0;
}

.kse-input-suffix-wrapper:hover button {
  border-left-color: #4096ff;
}

.kse-input-suffix-wrapper button:hover * {
  color: #4096ff;
  fill: #4096ff;
}

.kse-input-suffix-btn {
  height: 100%;
}

.kse-input-suffix-wrapper button:active {
  color: #0958d9 !important;
  border-color: #0958d9 !important;
  fill: #0958d9 !important;
}

.kse-input-suffix-wrapper button:active * {
  color: #0958d9 !important;
  border-color: #0958d9 !important;
  fill: #0958d9 !important;
}

.kse-input-suffix-wrapper button:active:after {
  border-end-start-radius: 0;
  border-start-start-radius: 0;
}

/* Collapse */

.kse-collapse .kse-collapse:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.kse-collapse .kse-collapse:not(:last-child) .kse-collapse-panel:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.kse-collapse .kse-collapse:not(:last-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.kse-collapse .kse-collapse:not(:first-child) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.kse-collapse {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px;
}
.kse-collapse-header {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
  box-sizing: border-box;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgba(0, 0, 0, 0.02);

  border-bottom: 0;
}

.kse-collapse-header-large {
  flex: 1;
  padding: 20px 24px;
  font-size: 16px;
}

.kse-collapse-content {
  padding: 16px;
  border-top: 1px solid #d9d9d9;
}

.kse-collapse-panel {
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
}

.kse-collapse-panel:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.kse-collapse-panel:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.kse-collapse-header-text {
  font-size: 20px;
}

.kse-collapse-link-text {
  padding-left: 48px;
  height: 40px;
  line-height: 40px;
}

.kse-collapse-primary-wrapper * {
  border-color: #7adeff !important;
}
.kse-collapse-primary-wrapper .kse-collapse-header {
  /* primary-1 */
  background-color: #e6faff !important;
}

/* info */
.kse-collapse-info-wrapper * {
  border-color: #91caff !important;
}
.kse-collapse-info-wrapper .kse-collapse-header {
  background-color: #e6f4ff !important;
}
/*warning*/
.kse-collapse-warning-wrapper * {
  border-color: #ffe58f !important;
}
.kse-collapse-warning-wrapper .kse-collapse-header {
  background-color: #fffbe6 !important;
}
/*success*/
.kse-collapse-success-wrapper * {
  border-color: #b7eb8f !important;
}
.kse-collapse-success-wrapper .kse-collapse-header {
  background-color: #f6ffed !important;
}
/*danger*/
.kse-collapse-danger-wrapper * {
  border-color: #ffccc7 !important;
}
.kse-collapse-danger-wrapper .kse-collapse-header {
  background-color: #fff2f0 !important;
}

/* List */

.kse-list {
}

.kse-list-item {
  padding: 12px 24px;
}

.kse-list-item-small {
  padding: 8px 16px;
}

/* Tag */
.kse-tag {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 12px;
  line-height: 20px;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  display: inline-block;
  height: auto;
  margin-inline-end: 8px;
  padding-inline: 7px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.2s;
  text-align: start;
}
.kse-tag-primary {
  /* primary-6 */
  background-color: #0097e6 !important;
  color: #fff !important;
  border-color: transparent !important;
}

.kse-tag-magenta {
  color: #c41d7f;
  background: #fff0f6;
  border-color: #ffadd2;
}

.kse-tag-red {
  color: #cf1322;
  background: #fff1f0;
  border-color: #ffa39e;
}

.kse-tag-volcano {
  color: #d4380d;
  background: #fff2e8;
  border-color: #ffbb96;
}

.kse-tag-orange {
  color: #d46b08;
  background: #fff7e6;
  border-color: #ffd591;
}

.kse-tag-gold {
  color: #d48806;
  background: #fffbe6;
  border-color: #ffe58f;
}

.kse-tag-lime {
  color: #7cb305;
  background: #fcffe6;
  border-color: #eaff8f;
}

.kse-tag-green {
  color: #389e0d;
  background: #f6ffed;
  border-color: #b7eb8f;
}

.kse-tag-cyan {
  color: #08979c;
  background: #e6fffb;
  border-color: #87e8de;
}

.kse-tag-blue {
  color: #0958d9;
  background: #e6f4ff;
  border-color: #91caff;
}

.kse-tag-geekblue {
  color: #1d39c4;
  background: #f0f5ff;
  border-color: #adc6ff;
}

.kse-tag-purple {
  color: #531dab;
  background: #f9f0ff;
  border-color: #d3adf7;
}

.kse-select,
.kse-select-wrapper select {
  height: unset;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 15px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px !important;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  background-position: 100%;
  background-repeat: no-repeat;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
}

.kse-select:focus,
.kse-select-wrapper select:focus {
  z-index: 10;
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
  border-inline-end-width: 1px;
  outline: 0;
}

.kse-select:hover,
.kse-select-wrapper select:hover {
  border-color: #4096ff;
  border-inline-end-width: 1px;
}

.kse-select:disabled,
.kse-select-wrapper select:disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.kse-select:disabled:hover,
.kse-select-wrapper select:disabled:hover {
  cursor: not-allowed !important;
  border-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.4) !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
  box-shadow: none !important;
}

/* Alert */
.kse-alert {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  border-radius: 4px;
  width: 560px;
}

.kse-alert-primary {
  background-color: #e6faff;
  border: 1px solid #7adeff;
}
.kse-alert-info {
  background-color: #e6f4ff;
  border: 1px solid #91caff;
}
.kse-alert-success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
}
.kse-alert-error {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
}
.kse-alert-warning {
  background-color: #fffbe6;
  border: 1px solid #ffe58f;
}

.kse-alert-content {
  flex: 1;
  min-width: 0;
}

.kse-alert-message {
  display: block;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 16px;
}

.kse-alert-icon {
  font-size: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
  align-self: start;
}
.kse-alert-description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.kse-alert-description .kse-alert-icon {
  font-size: 14px;
  height: 14px;
  min-height: 14px;
  align-self: auto;
}

.kse-alert-close {
  margin-left: 8px;
  font-size: 14px;
  height: 14px;
}

.kse-alert-closeable-block {
  width: calc(100% - 22px);
}

/* Descriptions */

.kse-descriptions-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.kse-descriptions {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.kse-descriptions.kse-descriptions-bordered.kse-descriptions-small
  .kse-descriptions-item-label,
.kse-descriptions.kse-descriptions-bordered.kse-descriptions-small
  .kse-descriptions-item-content {
  padding: 8px 16px;
}

.kse-descriptions .kse-descriptions-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-view {
  border: 1px solid rgba(5, 5, 5, 0.06);
}

.kse-descriptions .kse-descriptions-view {
  width: 100%;
  border-radius: 4px;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-view > table {
  table-layout: auto;
  border-collapse: collapse;
}
.kse-descriptions .kse-descriptions-view table {
  width: 100%;
  table-layout: fixed;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-row {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.ranks-mobile .kse-descriptions-item-label,
.ranks-mobile .rank-image-wrapper {
  width: 150px !important;
}
.ranks-mobile .kse-descriptions-item-content {
  font-size: 12px !important;
}

.ranks-mobile .kse-descriptions-item-label {
  font-size: 14px !important;
}

[class^="kse-descriptions"] [class^="kse-descriptions"],
[class*=" kse-descriptions"] [class^="kse-descriptions"],
[class^="kse-descriptions"] [class*=" kse-descriptions"],
[class*=" kse-descriptions"] [class*=" kse-descriptions"] {
  box-sizing: border-box;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-item-label {
  background-color: rgba(0, 0, 0, 0.02);
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-item-label,
.kse-descriptions.kse-descriptions-bordered .kse-descriptions-item-content {
  padding: 16px 24px;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}

.kse-descriptions.kse-descriptions-bordered
  .kse-descriptions-item-content:last-child {
  border-inline-end: none;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-row:last-child {
  border-bottom: none;
}
