<!-- 회원 그룹 정보 -->
<div
    class="userGroup clearfix <!--/if_group_name(클래식 문)/-->rank01<!--/else_if_group_name(엘리트 문)/-->rank02<!--/else_if_group_name(노블 문)/-->rank03<!--/else_if_group_name(로열 문)/-->rank04<!--/else/-->rank01<!--/end_if/-->">
    <div class="lvl-img">
        <img src="/design/ksilverex/22_renew/img/rank01.png" class="rank01" />
        <img src="/design/ksilverex/22_renew/img/rank02.png" class="rank02" />
        <img src="/design/ksilverex/22_renew/img/rank03.png" class="rank03" />
        <img src="/design/ksilverex/22_renew/img/rank04.png" class="rank04" />
    </div>

    <div class="nextGradeWrap box2">
        <ul class="clearfix userRank">
            <li class="fl"><span>C</span></li>
            <li class="fl"><span>H</span></li>
            <li class="fl"><span>G</span></li>
            <li class="fl"><span>F</span></li>
        </ul>
        <div class="levelupPoint">
            <span>다음 등급까지 남은 금액</span>
            <strong><!--/next_group_price_gap/--> 원</strong>
        </div>
    </div>

    <div class="grp">
        <div class="box1">
            <p class="userGroupName">
                <!--/user_name/-->님의 회원등급은<br>
                <strong class="userRank">
                    <!--/group_name/-->
                </strong>
                입니다.
            </p>
        </div>

    </div>


</div>
<!-- //회원 그룹 정보 -->