<div class="kse-space-vertical-middle ranks-mobile">
    <div class="kse-descriptions kse-descriptions-small kse-descriptions-bordered">
        <div class="kse-descriptions-header">
            <div class="kse-descriptions-title">
                <div class="rank rank1 kse-row">
                    <center class="rank-image-wrapper">
                        <img
                            src="/design/ksilverex/22_renew/img/rank01_min.png" />
                        <div class="kse-title-4">클래식 문</div>
                        <div>Classic Moon</div>
                    </center>
                    <div class="kse-col-block kse-row kse-row-align-center kse-row-center">
                        <center>
기본 멤버십 등급
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="kse-descriptions-view">
            <table>
                <tbody>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>쿠폰</strong>
                                    <div class="kse-text-secondary kse-text-small">
                                        (매월 지급)
                                    </div>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>2,000원 할인</div>
                                    <div>1,000원 할인</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>무료배송 쿠폰</strong>
                                    <div class="kse-text-secondary kse-text-small">
                                        (매월 지급)
                                    </div>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>-</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>
                                        위탁판매 시 <br /> 수수료 면제 서비스
                                    </strong>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>-</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>특별 혜택</strong>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>-</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="kse-descriptions kse-descriptions-small kse-descriptions-bordered">
        <div class="kse-descriptions-header">
            <div class="kse-descriptions-title">
                <div class="rank rank2 kse-row">
                    <center class="rank-image-wrapper">
                        <img
                            src="/design/ksilverex/22_renew/img/rank02_min.png" />
                        <div class="kse-title-4">엘리트 문</div>
                        <div>Elite Moon</div>
                    </center>
                    <div class="kse-col-block kse-row kse-row-align-center kse-row-center">
                        <center>
                            <div>최근 1년간 구매금액</div>
                            <div>500만원 이상</div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="kse-descriptions-view">
            <table>
                <tbody>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>쿠폰</strong>
                                    <div class="kse-text-secondary kse-text-small">
                                        (매월 지급)
                                    </div>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>2,000원 할인</div>
                                    <div>1,000원 할인</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>무료배송 쿠폰</strong>
                                    <div class="kse-text-secondary kse-text-small">
                                        (매월 지급)
                                    </div>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>무료배송 쿠폰 1개</div>
                                    <div></div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>
                                        위탁판매 시 <br /> 수수료 면제 서비스
                                    </strong>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>-</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>특별 혜택</strong>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>-</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="kse-descriptions kse-descriptions-small kse-descriptions-bordered">
        <div class="kse-descriptions-header">
            <div class="kse-descriptions-title">
                <div class="rank rank3 kse-row">
                    <center class="rank-image-wrapper">
                        <img
                            src="/design/ksilverex/22_renew/img/rank03_min.png" />
                        <div class="kse-title-4">노블 문</div>
                        <div>Noble Moon</div>
                    </center>
                    <div class="kse-col-block kse-row kse-row-align-center kse-row-center">
                        <center>
                            <div>최근 1년간 구매금액</div>
                            <div>3,000만원 이상</div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="kse-descriptions-view">
            <table>
                <tbody>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>쿠폰</strong>
                                    <div class="kse-text-secondary kse-text-small">
                                        (매월 지급)
                                    </div>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>5,000원 할인</div>
                                    <div>2,000원 할인</div>
                                    <div>1,000원 할인</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>무료배송 쿠폰</strong>
                                    <div class="kse-text-secondary kse-text-small">
                                        (매월 지급)
                                    </div>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>무료배송 쿠폰 2개</div>
                                    <div></div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>
                                        위탁판매 시 <br /> 수수료 면제 서비스
                                    </strong>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>위탁판매 상품 금액 기준</div>
                                    <div>총 300만원 까지 수수료 면제</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>특별 혜택</strong>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>-</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="kse-descriptions kse-descriptions-small kse-descriptions-bordered ">
        <div class="kse-descriptions-header">
            <div class="kse-descriptions-title">
                <div class="rank rank4 kse-row">
                    <center class="rank-image-wrapper">
                        <img
                            src="/design/ksilverex/22_renew/img/rank04_min.png" />
                        <div class="kse-title-4">로열 문</div>
                        <div>Royal Moon</div>
                    </center>
                    <div class="kse-col-block kse-row kse-row-align-center kse-row-center">
                        <center>
                            <div>최근 1년간 구매금액</div>
                            <div>1억원 이상</div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="kse-descriptions-view">
            <table>
                <tbody>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>쿠폰</strong>
                                    <div class="kse-text-secondary kse-text-small">
                                        (매월 지급)
                                    </div>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>10,000원 할인</div>
                                    <div>5,000원 할인</div>
                                    <div>2,000원 할인</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>무료배송 쿠폰</strong>
                                    <div class="kse-text-secondary kse-text-small">
                                        (매월 지급)
                                    </div>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>무료배송 쿠폰 3개</div>
                                    <div></div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>
                                        위탁판매 시 <br /> 수수료 면제 서비스
                                    </strong>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>위탁판매 상품 금액 기준</div>
                                    <div>총 500만원 까지 수수료 면제</div>
                                </center>
                            </span>
                        </td>
                    </tr>
                    <tr class="kse-descriptions-row">
                        <th class="kse-descriptions-item-label" colspan="1">
                            <span>
                                <center>
                                    <strong>특별 혜택</strong>
                                </center>
                            </span>
                        </th>
                        <td class="kse-descriptions-item-content" colspan="1">
                            <span>
                                <center>
                                    <div>Special Gift 1회</div>
                                   
                                </center>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
