<div class="kse-table">
    <div class="kse-table-content ">
        <table class="kse-table-rank table-rank" style="table-layout: auto;">
            <colgroup>
                <col class="kse-table-rank-col1">
                <col class="kse-table-rank-gap">
                <col class="kse-table-rank-col2">
                <col class="kse-table-rank-col3">
                <col class="kse-table-rank-col4">

            </colgroup>
            <thead class="kse-table-thead">
                <tr>
                    <th class="kse-table-cell kse-title-5 kse-table-rank-header-title" style="text-align: left;">등급별 혜택
                    </th>
                    <th class="table-cell"></th>
                    <th class="kse-table-cell kse-title-5 kse-table-rank-header-title" style="text-align: center;">
                        <div>쿠폰</div>

                        <div class=" kse-text-secondary kse-row kse-row-center kse-table-rank-header-title-sub"
                            style=" margin-top: 8px">
                            <div class="">
                                (매월 지급)
                            </div>
                        </div>
                    </th>
                    <th class="kse-table-cell kse-title-5 kse-table-rank-header-title" style="text-align: center;">무료배송
                        쿠폰
                        <div class=" kse-text-secondary kse-row kse-row-center kse-table-rank-header-title-sub "
                            style=" margin-top: 8px">
                            <div class="">
                                (매월 지급)
                            </div>
                        </div>
                    </th>

                    <th class="kse-table-cell kse-title-5 kse-table-rank-header-title" style="text-align: center;">특별 혜택
                    </th>
                </tr>
            </thead>
            <tbody class="kse-table-tbody">
                <tr class="kse-table-row kse-table-row-level-0">
                    <td class="kse-table-cell rank1" style="text-align: center;">
                        <div class="kse-row kse-row-space-between">
                            <img src="/design/ksilverex/22_renew/img/rank01_min.png">
                            <div class="kse-text-rank1 rank-text">
                                <div class="kse-title-3 kse-table-rank-title-kr">클래식 문</div>
                                <div class="kse-table-rank-title-en">Classic Moon</div>
                            </div>
                        </div>
                    </td>
                    <td class="kse-table-cell table-gap" style="text-align: center;"></td>
                    <td class="kse-table-cell" style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div>2,000원 할인</div>
                            <div>1,000원 할인</div>
                        </div>
                    </td>
                    <td class="kse-table-cell  kse-table-rank-text" style="text-align: center;">-</td>
                    <td class="kse-table-cell  kse-table-rank-text" style="text-align: center;">-</td>

                </tr>
                <tr class="kse-table-row kse-table-row-level-0">
                    <td class="kse-table-cell rank2" style="text-align: center;">
                        <div class="kse-row kse-row-space-between">
                            <img src="/design/ksilverex/22_renew/img/rank02_min.png">
                            <div class="kse-text-rank2 rank-text">
                                <div class="kse-title-3 kse-table-rank-title-kr">엘리트 문</div>
                                <div class="kse-table-rank-title-en">Elite Moon</div>
                            </div>
                        </div>
                    </td>
                    <td class="kse-table-cell table-gap " style="text-align: center;"></td>
                    <td class="kse-table-cell" style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div>2,000원 할인</div>
                            <div>1,000원 할인</div>
                        </div>
                    </td>
                    <td class="kse-table-cell" style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div>무료배송 쿠폰</div>
                            <div>1개</div>
                        </div>
                    </td>
                    <td class="kse-table-cell  kse-table-rank-text" style="text-align: center;">
                        <div class="kse-row kse-row-center">
                            <div class="kse-table-rank-special-fixed-width" style="text-align: start; ">- 본사 직배송 서비스 (서울
                                / 수도권 일부 지역)</div>
                        </div>
                    </td>

                </tr>
                <tr class="kse-table-row kse-table-row-level-0">
                    <td class="kse-table-cell rank3" style="text-align: center;">
                        <div class="kse-row kse-row-space-between">
                            <img src="/design/ksilverex/22_renew/img/rank03_min.png">
                            <div class="kse-text-rank3 rank-text">
                                <div class="kse-title-3 kse-table-rank-title-kr">노블 문</div>
                                <div class="kse-table-rank-title-en">Noble Moon</div>
                            </div>
                        </div>
                    </td>
                    <td class="kse-table-cell table-gap" style="text-align: center;"></td>
                    <td class="kse-table-cell" style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div>5,000원 할인</div>
                            <div>2,000원 할인</div>
                            <div>1,000원 할인</div>
                        </div>
                    </td>
                    <td class="kse-table-cell" style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div>무료배송 쿠폰</div>
                            <div>2개</div>
                        </div>
                    </td>
                    <td class="kse-table-cell" style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div class="kse-row kse-row-center">
                                <div class="kse-table-rank-special-fixed-width" style="text-align: start;">
                                    <div>- 본사 직배송 서비스 (서울 / 수도권 일부 지역)</div>
                                    <div>- 위탁판매 시 상품 금액 총 300만원까지 수수료 면제</div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr class="kse-table-row kse-table-row-level-0">
                    <td class="kse-table-cell rank4" style="text-align: center;">
                        <div class="kse-row kse-row-space-between">
                            <img src="/design/ksilverex/22_renew/img/rank04_min.png">
                            <div class="kse-text-rank4 rank-text">
                                <div class="kse-title-3 kse-text-bold kse-table-rank-title-kr">로열 문
                                </div>
                                <div class="kse-table-rank-title-en">Royal Moon</div>
                            </div>
                        </div>
                    </td>
                    <td class="kse-table-cell table-gap " style="text-align: center;"></td>
                    <td class="kse-table-cell" style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div>10,000원 할인</div>
                            <div>5,000원 할인</div>
                            <div>2,000원 할인</div>
                        </div>
                    </td>
                    <td class="kse-table-cell " style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div>무료배송 쿠폰</div>
                            <div>3개</div>
                        </div>
                    </td>
                    <td class="kse-table-cell" style="text-align: center;">
                        <div class=" kse-table-rank-text">
                            <div class="kse-row kse-row-center">
                                <div class="kse-table-rank-special-fixed-width" style="text-align: start; ">
                                    <div>- 본사 직배송 서비스 (서울 / 수도권 일부 지역)</div>
                                    <div>- 위탁판매 시 상품 금액 총 500만원까지 수수료 면제</div>
                                    <div>- Special Gift 1회</div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr class="kse-table-row kse-table-row-level-0">
                    <td class="kse-table-cell " style="text-align: center;">
                    </td>
                    <td class="kse-table-cell table-gap " style="text-align: center;"></td>
                    <td class="kse-table-cell" style="text-align: center;">
                    </td>
                    <td class="kse-table-cell " style="text-align: center;">
                    </td>
                    <td class="kse-table-cell" style="text-align: center;">
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>