<div class="leftBox fl">
    <div id="mpmp">
        <div class="lnb-wrap">
            <div class="HelloName">오늘도 좋은 일이 가득할<strong><!--/user_name/--> 고객님!</strong></div>
            <div class="lnb-bx">
                <h2 class="txt txt1">쇼핑정보</h2>
                <div class="lnb">
                    <ul>
                        <!--/if_link_order/-->
                        <li class="first"><a href="<!--/link_order/-->">주문내역</a></li>
                        <!--/end_if/-->
                        <!--/if_link_mypage_coupon/-->
                        <li><a href="<!--/link_mypage_coupon/-->">쿠폰</a></li>
                        <!--/end_if/-->
                        <!--/if_link_reserve/-->
                        <li><a href="<!--/link_reserve/-->">멤버십 포인트</a></li>
                        <!--/end_if/-->
                        <!--/if_link_mypage_point/-->
                        <li class="dp_no"><a href="<!--/link_mypage_point/-->">포인트 내역</a></li>
                        <!--/end_if/-->
                        <!--/if_link_mypage_deposit/-->
                        <li class="dp_no"><a href="<!--/link_mypage_deposit/-->">예치금 내역</a></li>
                        <!--/end_if/-->
                        <!--/if_link_mypage_attendance/-->
                        <li class="dp_no"><a href="<!--/link_mypage_attendance/-->">출석체크 적립금 내역</a></li>
                        <!--/end_if/-->
                        <!--/if_link_mypage_today_product/-->
                        <li><a href="<!--/link_mypage_today_product/-->">오늘 본 상품</a></li>
                        <!--/end_if/-->
                        <!--/if_link_mypage_wishlist/-->
                        <li><a href="<!--/link_mypage_wishlist/-->">관심상품</a></li>
                        <!--/end_if/-->

                        <li><a href="<!--/link_basket/-->">나의 금고</a></li>

                        <!--/if_link_mypage_place/-->
                        <li><a href="<!--/link_mypage_place/-->">주소록 관리</a></li>
                        <!--/end_if/-->
                        <li><a href="/shop/page.html?id=6">멤버십 혜택</a></li>
                    </ul>
                </div>
            </div>
            <div class="lnb-bx">
                <h2 class="txt txt2">문의내역</h2>
                <div class="lnb">
                    <ul>
                        <!--/if_link_mypage_article/-->
                        <li class="first"><a href="<!--/link_mypage_article/-->">내 게시글 보기</a></li>
                        <!--/end_if/-->
                        <!--/if_link_m2m_question/-->
                        <li><a href="<!--/link_m2m_question/-->">1:1 문의</a></li>
                        <!--/end_if/-->
                        <!--/if_link_mypage_sms/-->
                        <li class="dp_no"><a href="<!--/link_mypage_sms/-->">SMS내역</a></li>
                        <!--/end_if/-->
                        <li><a href="/shop/faq.html">자주묻는 질문</a></li>
                    </ul>
                </div>
            </div>
            <div class="lnb-bx">
                <h2 class="txt txt3">고객정보</h2>
                <div class="lnb">
                    <ul>
                        <!--/if_link_join/-->
                        <li class="first"><a href="<!--/link_join/-->">회원정보 변경</a></li>
                        <!--/end_if/-->
                        <!--/if_link_withdraw/-->
                        <li><a href="<!--/link_withdraw/-->">회원탈퇴 신청</a></li>
                        <!--/end_if/-->
                    </ul>
                </div>
            </div>
        </div><!-- .lnb-wrap -->
    </div><!-- #aside -->
</div>
<hr />