<div class="kse-layout-sider-children">
    <div class="kse-layout-sider-header kse-space-vertical-mini">
        <div>오늘도 좋은 일이 가득할</div>
        <div class="kse-layout-sider-header-customer">
            <span class="kse-text-primary-10" style="text-decoration-line: underline"><!--/user_name/--></span>
            고객님!
        </div>
    </div>
    <ul class="kse-menu-horizontal">
        <li class="kse-menu-item-group kse-space-vertical-small">
            <div class="kse-menu-item-group-title" style=" padding-top: 0px ">
                쇼핑정보
            </div>
            <hr class="kse-divider-no-style kse-divider-primary-10" />

            <ul>
                <!--/if_link_order/-->
                <li class="kse-menu-item"><a href="<!--/link_order/-->">주문내역</a></li>
                <!--/end_if/-->
                <!--/if_link_mypage_coupon/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_coupon/-->">쿠폰</a></li>
                <!--/end_if/-->
                <!--/if_link_reserve/-->
                <li class="kse-menu-item"><a href="<!--/link_reserve/-->">멤버십 포인트</a></li>
                <!--/end_if/-->
                <!--/if_link_mypage_point/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_point/-->">포인트 내역</a></li>
                <!--/end_if/-->
                <!--/if_link_mypage_deposit/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_deposit/-->">예치금 내역</a></li>
                <!--/end_if/-->
                <!--/if_link_mypage_attendance/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_attendance/-->">출석체크 적립금 내역</a></li>
                <!--/end_if/-->
                <!--/if_link_mypage_today_product/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_today_product/-->">오늘 본 상품</a></li>
                <!--/end_if/-->
                <!--/if_link_mypage_wishlist/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_wishlist/-->">관심상품</a></li>
                <!--/end_if/-->
                <!--/if_link_basket/-->
                <li><a href="<!--/link_basket/-->">나의 금고</a></li>
                <!--/end_if/-->
                <!--/if_link_mypage_place/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_place/-->">주소록 관리</a></li>
                <!--/end_if/-->
                <li class="kse-menu-item"><a href="/shop/page.html?id=6">멤버십 혜택</a></li>
            </ul>
        </li>
        <li class="kse-menu-item-group  kse-space-vertical-small">
            <div class="kse-menu-item-group-title ">문의내역</div>
            <hr class="kse-divider-no-style kse-divider-primary-10" />
            <ul>
                <!--/if_link_mypage_article/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_article/-->">내 게시글 보기</a></li>
                <!--/end_if/-->
                <!--/if_link_m2m_question/-->
                <li class="kse-menu-item"><a href="<!--/link_m2m_question/-->">1:1 문의</a></li>
                <!--/end_if/-->
                <!--/if_link_mypage_sms/-->
                <li class="kse-menu-item"><a href="<!--/link_mypage_sms/-->">SMS내역</a></li>
                <!--/end_if/-->
                <li class="kse-menu-item">
                    <a href="/shop/faq.html">자주묻는 질문</a>
                </li>
            </ul>
        <li class="kse-menu-item-group kse-space-vertical-small">
            <div class="kse-menu-item-group-title">고객정보</div>
            <hr class="kse-divider-no-style kse-divider-primary-10" />
            <ul>
                <!--/if_link_join/-->
                <li class="kse-menu-item"><a href="<!--/link_join/-->">회원정보 변경</a></li>
                <!--/end_if/-->
                <!--/if_link_withdraw/-->
                <li class="kse-menu-item"><a href="<!--/link_withdraw/-->">회원탈퇴 신청</a></li>
                <!--/end_if/-->
            </ul>
        </li>
        </li>
    </ul>
</div>