<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ant Design Breadcrumb Example</title>
    <!-- Include Ant Design CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/antd/4.17.4/antd.min.css"
        integrity="sha512-vV7TmTfEjms7mud91+E+/A32tBWhnLQsYtRWsLDtSC2Z62cUpZbvrCJ8eNn0BDaDGLLPFk/9l9XgURfE0xBO1Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Breadcrumb Component -->
    <div id="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol>
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Home</a></li>
            </ol>
        </nav>
    </div>

</body>

</html>