<div class="kse-table-wrapper">
    <div class="kse-table kse-table-small kse-table-bordered kse-table-layout-fixed">
      <div class="kse-table-container">
        <div class="kse-table-content">
          <table style="table-layout: fixed;">
            <colgroup></colgroup>
            <thead class="kse-table-thead">
              <tr>
                <th
                  class="kse-table-cell"
                  style="text-align: center;"
                >
                  수량
                </th>
                <th
                  class="kse-table-cell"
                  style="text-align: center;"
                >
                  <div>
                    <div>할인</div>
                    <div class="kse-text-secondary">(개당)</div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody class="kse-table-tbody">
              <tr class="kse-table-row kse-table-row-level-0">
                <td
                  class="kse-table-cell"
                  style="text-align: center;"
                >
                  50개 ~ 99개
                </td>
                <td
                  class="kse-table-cell"
                  style="text-align: center;"
                >
                  1%
                </td>
              </tr>
              <tr class="kse-table-row kse-table-row-level-0">
                <td
                  class="kse-table-cell"
                  style="text-align: center;"
                >
                  100개 ~ 149개
                </td>
                <td
                  class="kse-table-cell"
                  style="text-align: center;"
                >
                  2%
                </td>
              </tr>
              <tr class="kse-table-row kse-table-row-level-0">
                <td
                  class="kse-table-cell"
                  style="text-align: center;"
                >
                  150개 ~ 199개
                </td>
                <td
                  class="kse-table-cell"
                  style="text-align: center;"
                >
                  3%
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="kse-table-footer">
        <div>
          <div class="kse-required">
            할인적용금액은 장바구니에서 확인해주세요.
          </div>
          <div class="kse-required">할인은 개당 적용됩니다.</div>
        </div>
      </div>
    </div>
  </div>