#basket .btn-wrap {padding:15px 10px;}
#basket .btn-wrap div {width:49%; float:left;}
#basket .btn-wrap div:last-child {float:right;}
#basket .all-select {border-top: 1px solid #4a4a4a; border-bottom: 1px solid #dedede; background-color: #f1f1f1; padding:10px;}
#basket .not_provider li {padding:20px 0;}
#basket .provider li {padding:20px 0;}
#basket figure {width:100%; display: table; box-sizing: border-box; padding:0 10px;}
#basket .basketLeft {width:110px; position:relative; float: left;}
#basket .basketLeft a {padding-right: 20px; margin-top: 20px; display:block;}
#basket .basketLeft .MS_input_checkbox {top:0; left:0; position:absolute;}
#basket .basketRight {padding-left:110px;}
#basket .basketRight p {color:#707070; margin-bottom:5px;}
#basket .basketRight .pname {border-bottom:1px solid #dedede;  padding-bottom: 4px;}
#basket .basketRight .pname .blue-delivery {background-color: #74a9e4; color:#fff; font-size:0.917em; padding: 1px 2px;}
#basket .basketRight .pname .red-delivery {background-color: #d674e4; color:#fff; font-size:0.917em; padding: 1px 2px;}
#basket .basketRight .pname .fa {float:right; margin-top: -6px;}
#basket .basketRight .fa-plus {background-color: #bbb; width: 35px; height: 35px; text-align: center; vertical-align: middle; line-height: 35px; color: #fff;}
#basket .basketRight .fa-minus {background-color: #bbb; width: 35px; height: 35px; text-align: center; vertical-align: middle; line-height: 35px; color: #fff;}
#basket .basketRight .btn_Black {margin-top:5px;}
#basket .basketRight .MS_select {width:100%;}
#basket .basketRight .amount-input {width:50px;}
#basket .price-each-info-top {text-align : right; border-top: 1px solid #cbcbcb; border-bottom: 1px solid #cbcbcb; background:#eaeaea; padding:10px;}
#basket .price-each-info-bottom {text-align : right; padding:10px; background:#eaeaea; border-bottom:1px solid #cbcbcb;}
#basket .price-total-info-top {border-top: 2px solid #464646; border-bottom: 1px solid #cbcbcb; background-color: #eaeaea; text-align : right;  padding:10px; margin-top:10px;}
#basket .price-total-info-bottom {border-bottom: 1px solid #cbcbcb; background-color: #eaeaea; text-align : right; padding:15px 10px; font-size:1.333em;}
#basket .price-total-info-bottom .txt-price {color : #f1191f; font-weight:bold;}
#basket .price-total-info-bottom .txt-reserve {color : #898989; font-size:0.688em;}
#basket .delivery-type { padding:15px 10px;}
#basket .order-btn {padding:0 10px; font-weight:bold; font-size:15px; }
#basket .naver-checkout {margin-top: 20px;}

@media screen and (min-width:768px) {
 #basket .basketRight .btn_Black {width:315px; display:inline-block; vertical-align: middle; margin-top:0px; }
}

.cart-ft2 { display: block; text-align: center; } 

.basket-option-dlist li img { width:30px; height:30px; vertical-align:middle; }