@charset "euc-kr


@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Noto+Sans);





/* base */
* {-webkit-text-size-adjust:none;}
body {position:relative;font-size:0.75em;line-height:1.417em;color:#3b3b3b;-webkit-text-size-adjust:none; overflow-anchor: none;}
body,input,textarea,select,button,table{font-family: 'Noto Sans'}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,figure{margin:0;padding:0}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:100%; word-break: break-all;}
ul, ol, li {list-style:none;}
fieldset, img {border:none;}
img {vertical-align:top;}
hr, button img {display:none;}
form, fieldset, legend, label {margin:0; padding:0;}
fieldset{border:0 none;}
fieldset legend {position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; margin:0; padding:0; font:0/0 Arial;}
em,address{font-style:normal;}
input,textarea,select,button,table{font-family: 'Noto Sans';line-height:inherit;color:#3b3b3b;}
label { cursor:pointer; }
table {border-collapse: collapse; border-spacing: 0;}
/* //base */

/* cross */
* html input { margin:-1px 0; } 
*:first-child+html input { margin:-1px 0; }
input.checkbox { width:13px; height:13px; margin-top:-4px; vertical-align:middle;}
/* //cross */

/* a-style */
a {color:#3b3b3b; text-decoration:none;}
a:hover, a:active {text-decoration:none;}
/* //a-style */

/* 공통 */
address, article, aside, figure, footer, header, hgroup, menu, nav, section {display:block;}
caption {font-size:0; height:0;}
input[type="text"], input[type="date"], input[type="tel"], input[type="number"], input[type="email"], input[type="password"], select {height:35px; border:1px solid #bbb; vertical-align: middle; padding-left:1px; box-sizing: border-box; -webkit-border-radius:0; border-radius: 0;}
input[type="radio"], input[type="checkbox"] {vertical-align: middle;}
textarea {border:1px solid #bbb; vertical-align: middle; box-sizing:border-box; background-color:#fff; padding:10px; -webkit-border-radius:0; border-radius:0;}
.clearFix {position:relative; overflow:hidden; zoom:1;}
.clearfix:after{clear:both;content:'';display:block;}
.fl{float:left;}
.fr{float:right;}
.bold {font-weight:bold;}
.response100 {width:100%;}
.location {padding:0 10px; margin-bottom:8px;}
.h_title {padding: 10px 15px; font-family: inherit !important; background: #f5f5f5;}
.h_title h3 {font-size:15px; text-align:center;}
.h_title h3:before{content:" "}

.h_title_2{position:relative; padding:20px 20px 35px;}
.h_title_2 h3{font-size:16px; font-weight:bold; line-height:28px; text-align:center;}
.h_title_2 a{display:block; position:absolute; top:20px; left:20px; width:28px; }

#mask {width:100%; height:100%; position:fixed; top:36px; left:0; right:0; bottom:0; z-index:1000; display:none;}
.none-data {text-align: center; margin: 20px 0;}
.none-data img {margin-bottom:10px;}
.pd10 {padding:10px;}
.fr {float:right !important;}
.fl {float:left !important;}
.txt-input1 {width:100% !important;}
.txt-input2 {width:46% !important;}
.txt-input3 {width:29% !important;}
.txt-input4 {width:20% !important;}
.txt-area1 {width:100% !important;}
.mt5 {margin-top:5px;}
.page_location {padding:10px 5px; text-align: right;}
.page_location li {display:inline-block}
.page_location li::after {content: ">"; margin: 0 7px;}
.page_location li:last-child::after {content: ""; margin:0;}
.page_location li a{
    font-size: 12px;}

.h_layerTitle {height:35px; line-height:35px; background-color:#f2f2f2; padding:0 10px; margin-bottom:10px;}
.h_layerTitle h3 {font-weight:bold;}
.h_layerTitle .fa-times {float:right; margin-top: 5px;}
.MK-product-icons img {width: initial !important;padding:0 2px;}
/* //공통 */

/* 페이징 */
.paging {font-size: 0;text-align:center; margin:26px 0;}
.paging a {
    font-size: 12px !important;
    margin-right: -1px;width:30px; height:30px; line-height:30px; background-color:#fff;  border: 1px solid #e2e2e2;display:inline-block; font-family: lato; color: #868686;}
.paging a.now {
    background-color: #f9f9f9;}
/* //페이징 */

/* 폰트 관련 */
.color_1984f1 {color:#1984f1 !important;} /* Blue */
.color_f1191f {color:#f1191f !important;} /* Red */
.color_a63f42 {color:#a63f42 !important;} /* DarkRed */
.bgc077fe2 {background-color:#077fe2; color:#fff; padding:2px 5px; margin-right: 5px;}
.bgc464644 {background-color:#464644; color:#fff; padding:2px 5px; margin-right: 5px;}
.caution {color:#f1191f; text-align:center; font-size:0.917em;}
.ico_new {color: #ffffff; background-color: #ff8400; font-weight:bold; padding:1px 5px;}
.ico_hit {color: #ffffff; background-color: #f1191f; font-weight:bold; padding:1px 5px;}
/* //폰트 관련 */

/* 버튼 관련 */
.btn_White { margin-bottom: 10px; width:100%; height:35px; line-height:35px; background-color:#fff; text-align:center; display:inline-block; border:1px solid #c6c6c6; box-sizing: border-box; vertical-align: middle;}
.btn_Black {width:100%; height:35px; line-height:35px; background-color:#0097e6; color:#fff; text-align:center; display:block; border:1px solid #000; box-sizing: border-box; vertical-align: middle;}
.btn_Red {width:100%; height:40px; line-height:37px; background-color:#0097e6; color:#fff; text-align:center; display:block; border:1px solid #000; box-sizing: border-box; vertical-align: middle;}
.btn_Grey {width:100%; height:35px; line-height:35px; background-color:#858585; color:#fff; text-align:center; display:block; border:1px solid #858585; box-sizing: border-box; vertical-align: middle;}
.fixButtonR {position:relative; padding-right:120px;}
.fixButton {width:115px; position:absolute; top:0; right:0;}
.more {text-align:center; width: 95%; margin: 30px auto;}
.more a{ border: 1px solid #000 !important;}
.more a span{color:#000 !important}

.btn_moreGray {position:relative; border-left: 0; border-right: 0; width: 100%; height: 40px; line-height: 40px; border-top: 1px solid #e7e7e7;  border-bottom: 1px solid #e7e7e7; font-weight: bold; display: block; margin: 0 auto; background: #fff; color: #757575 !important; font-family: roboto; font-weight: 400;}
.btn_moreGray img{ position: absolute; right: 120px; bottom: 12px; display: inherit !important;}
.btn_moreGray span:nth-child(1){font-weight:bold;}
.btn_moreGray span {padding: 0 10px;color:#757575;}
.btn_moreGray span em {color:#757575;}
/* 버튼 관련 */

/* 상품진열 */
.list_array {height:52px; border-bottom:1px solid #4a4a4a; border-top:1px solid #c7c7c7; padding:0 8px; margin-bottom: 13px;}
.list_array .list_arrayLeft {float:left; margin-top: 8px; font-size: 16px; margin-right: 4px;}
.list_array .list_arrayLeft select {height:28px;}
.list_array .list_arrayRight {float:right; margin-top:15px;}
.list_array .list_arrayRight img {margin-left:10px;}
.list_shopping1x {text-align:center;}
.list_shopping1x ul {width:100%; display:table; table-layout: fixed; box-sizing: border-box; text-align:left; font-size:0;}
.list_shopping1x li {width:100%; display:inline-block; vertical-align: top; border-top:1px solid #d9d9d9;}
.list_shopping1x li a {display: block; padding:18px 4px; position:relative; overflow:hidden; zoom:1;}
.list_shopping1x li:first-child {border:0px none;}
.list_shopping1x li:first-child a {padding:0 4px 18px 4px;}
.list_shopping1x li img.listPic {width:50%; float:left;}
.list_shopping1x .list_shoppingInfo {width:46%; float:left; padding-left:4%; font-size:12px;}
.list_shopping2x {text-align:center;}
.list_shopping2x ul {width:100%; display:table; table-layout: fixed; box-sizing: border-box; padding:0 2px;  text-align:left; font-size:0;}
.list_shopping2x li {width:50%; display:inline-block; vertical-align: top; text-align:left;}
.list_shopping2x li a {display: block; padding:0 6px 18px 6px;}
.list_shopping2x li img.listPic {width:100%;}
.list_shopping2x .list_shoppingInfo {margin-top:10px; text-align:; font-size:12px;}
.list_shopping3x {text-align:center;}
.list_shopping3x ul {width:100%; display:table; table-layout: fixed; box-sizing: border-box; padding:0 2px; text-align:left; font-size:0;}
.list_shopping3x li {width:33.33%; display:inline-block; vertical-align: top;}
.list_shopping3x li a {display: block; padding:2px;}
.list_shopping3x li img.listPic {width:100%;}
.list_shopping3x .list_shoppingInfo {margin-top:10px; text-align:center; font-size:12px;}
.listName {color:#3b3b3b; word-break: break-all; padding-bottom:10px;}
.listDiscount {
    font-size: 16px;
    display: inline-block;
    margin-right: 4px;
    color: #919191;}
.listPrice {    color: #1b1b1b;
    margin-bottom: 4px;
    font-size: 16px;
    display: inline-block;}
    
.listSoldout {color:#D22525; margin-bottom:4px;}
.listReplace {color:#1b1b1b; margin-bottom:4px;}
.listReview {color: #DB2E2E; margin-bottom:4px;}
.listReserve {color:#7d7d7d; font-size:0.917em;}
.listPoint {color:#7d7d7d; font-size:0.917em;}
/* //상품진열 */

/* 로그인 */
.login .caution {margin-bottom:10px;}
.member {padding:0 15px; margin-top: 20px;}
.login #keyboard {text-align:center; margin:0 auto;}
.login #keyboard p {text-align:right; margin-bottom:12px;}
.login #keyboard img {display:none; width:100%;}
.login .loginInput {margin-top:18px;}
.login .loginInput input {width:100%; display:block; margin-bottom:10px;}

.login .loginMiddle .btn_Red {font-size:17px; margin:10px 0;}
.login .loginMiddle .btn_White {font-size:1.167em;}
.login .loginBottom {background-color:#eaeaea; padding:18px 15px; margin-top:20px;}
.login .loginBottom h4 {background-color:#eaeaea; margin-bottom:5px; padding:0; font-weight:bold;}
.login .loginBottom a {font-size:1.167em;}
.login .loginBottom a.btn_Black {margin-top:16px;}
.login .loginBottom a.btn_Black:last-child {margin-top:10px;}
.login .loginBottom a.btn_White {margin-top:10px;}
.sns-login { position: relative; margin: 20px 10px 0; }
.sns-login .sns-title img { width: 100%; max-width: 300px; }
.sns-login ul li { position: relative; margin-top: 10px; padding-left: 50px; height: 40px; line-height: 40px; border: 1px solid #dfdfdf; border-radius: 4px; list-style: none; }
.sns-login ul li a { display: block; padding-left: 20px; border-left: 1px solid #dfdfdf; color: #999; font-size: 1.25em; font-weight: bold; letter-spacing: -1px; }
.sns-login ul li span { position: absolute; top: 0; left: 0; width: 50px; height: 40px; }
.sns-login ul li.facebook span { background: url(/images/d3/m_01/icon/ico_sns_facebook.gif) no-repeat 50% 50%; background-size: 12px auto; }
.sns-login ul li.naver span { background: url(/images/d3/m_01/icon/ico_sns_naver.gif) no-repeat 50% 50%; background-size: 18px auto; }
.sns-login ul li.kakaotalk span { background: url(/images/d3/m_01/icon/ico_sns_kakaotalk.gif) no-repeat 50% 50%; background-size: 20px auto; }
/* //로그인 */

#check_auth {padding:15px 0;}
#check_auth .head {text-align:center; color:#f46b00; margin-bottom:10px;}
#check_auth .contents table {margin:0 auto;}
#check_auth .contents table td {padding:5px 0;}
#check_auth .contents table td input {width:100% !important; height:35px !important; margin-bottom:0 !important;}

/* 레이어팝업 */
.layer {width: 100%; min-height: 100%; z-index: 999; position: fixed; left: 0; top: 0; background:rgba(60,60,60,0.8);}
.layer .layer-pop {width:90%; background-color: #fff; position: relative; box-shadow: 0px 1px 10px #494949; margin:80px auto;}
.layer .layer-pop h3  {background-color: #efefef; height: 36px; line-height: 36px; font-weight: bold; padding: 0 10px; }
.layer .layer-pop .txt {max-height: 300px; overflow-y: auto; padding:10px;}
.layer .layer-pop .close {width:45px; height:36px; color:#fff; line-height: 42px; position:absolute; top:0; right:0;  background-color: #4f4f4f; text-align: center;}
body #comment_password {border-radius:0 !important; font-size:1em;}
body #comment_password .head {background-color: #efefef; height: 36px; line-height: 36px; font-weight: bold; text-align:left !important; padding: 0 10px;}
body #comment_password .head h5 {border-bottom:0px none !important; font-size:1em !important; padding:0 !important;}
body #comment_password .head a.close {width:45px; height:36px; color:#fff; line-height: 42px; top:0 !important; right:0 !important; text-align: center;}
body #comment_password .contents p {font-size:1em !important; font-weight:normal;}
body #comment_password .contents .form-wrap2 input {height: 35px;}
body #comment_password .contents .form-wrap2 p:last-child a {display:block; background-color: #393939; color:#fff; position:initial !important; padding:10px 0; margin-top: 10px;}
/* //레이어팝업 */

/* 팝업 */
.popup .pop h3  {background-color: #efefef; height: 36px; line-height: 36px; font-weight: bold; padding: 0 10px; }
.popup .pop .txt {padding:10px;}
.popup .pop .close {width:45px; height:36px; color:#fff; line-height: 42px; position:absolute; top:0; right:0;  background-color: #4f4f4f; text-align: center;}
#passimg {width: 90%; background-color: #fff; top:50%; left: 0; right: 0; margin: 0 auto; text-align: center; padding: 20px 0; box-shadow: 0 1px 10px #717171;}
#passimg .head {color:#f26c09;}
#passimg .btns {padding:0 10px; margin-top: 10px;}
#passimg .btns a {display:block; background-color: #393939; color:#fff; padding:10px 0;}
/* //팝업 */

#popup-event.type-01 dt p { display: block;  padding: 0px !important; word-break: break-all; }
#popup-event.type-01 dd a { width: 50%;  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px !important;
  height: 32px;
  line-height: 32px;
  padding: 0px 15px;
   }
#popup-event.type-01 dd a:first-child { color: #808080; font-weight: normal; border-bottom-left-radius: 8px; background: #fff;
    }
#popup-event.type-01 dd a:first-child:hover {
  color: #4096ff !important;
  border-color: #4096ff !important;
}
#popup-event.type-01 dd a:last-child { color: #fff;

  background-color: #0097e6;
  box-shadow: 0 2px 0 #e6faff; 
    border-bottom-right-radius: 8px; }

#popup-event.type-01 dd a:last-child:not(:disabled):hover {
  color: #fff !important;
  background-color: #27b2f2 !important;
}

#popup-event.type-01 dt img#pop_img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#popup-event.type-01 {
background: unset !important;
border-radius: 8px;
}
#popup-event.type-01 dd {
    border-bottom-right-radius: 8px;
}









/* Review Wraper */
.kse-review-wrapper .pr-cate-plus {
  /* primary-6 */
  background-color: #0097e6 !important;
  /* primary-1 */
  box-shadow: 0 2px 0 #e6faff;
}

.kse-review-wrapper .fa-search {
  /* primary-6 */
  background-color: #0097e6 !important;
  /* primary-1 */
  box-shadow: 0 2px 0 #e6faff;
}

/* Wrapper */
.kse-wrapper-hide .past_list {
  display: none !important;
}

.kse-wrapper-show .past_list {
  outline: none !important;
  position: relative !important;
  display: inline-block !important;
  font-weight: 400 !important;
  white-space: nowrap !important;
  text-align: center !important;
  background-image: none !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
  cursor: pointer !important;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
  user-select: none !important;
  touch-action: manipulation !important;
  line-height: 1.5714285714285714 !important;
  color: rgba(0, 0, 0, 0.88) !important;
  font-size: 14px !important;
  padding: 8px 15px !important;
  border-radius: 4px !important;
  /* primary-6 */
  background-color: #0097e6 !important;
  /* primary-1 */
  box-shadow: 0 2px 0 #e6faff !important;
  color: white !important;
  letter-spacing: unset !important;
}

/* Layout */
.kse-layout-header {
  height: 64px;

  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  /* primary-6 */
  background: #0097e6;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kse-layout-header a {
  line-height: 64px;
  text-decoration: none;
}

.kse-layout-dummy {
  height: 64px;
}

.kse-layout-header-content {
  padding-inline: 24px;
  padding-block: 20px;
}

.kse-layout-header-primary {
  /* primary-6 */
  background-color: #0097e6;
}

.kse-layout-header-middle-mobile {
  padding-left: 32px;
  padding-right: 32px;
}
.kse-layout-header-middle-mobile img {
  width: 150px;
}

/* Display */

.kse-hide {
  display: none;
}

/* Row */

.kse-row {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
}

.kse-row-btn {
  display: flex;
  flex-flow: row wrap;
  min-width: 0;
}
.kse-row-btn > * {
  margin-left: -1px;
}
.kse-row-btn > *:hover {
  z-index: 10;
}
.kse-row-btn > *:active {
  z-index: 10;
}

.kse-row-btn > .kse-btn-default-active,
.kse-row-btn > .kse-btn-default.swiper-slide-thumb-active {
  z-index: 5;
}

.kse-row-lg {
  min-width: 1200px;
  width: 1200px;
}

.kse-row-lg-min {
  min-width: 1200px;
}

.kse-row-space-between {
  justify-content: space-between;
}

.kse-row-end {
  justify-content: flex-end;
}

.kse-row-center {
  justify-content: center;
}

.kse-row-align-center {
  align-items: center;
}

.kse-row-align-bottom {
  align-items: end;
}

/* Column */
.kse-col-block {
  flex: 1 !important;
}

.kse-col-block-1-75 {
  flex: 1.75 !important;
}

.kse-col-block.kse-col-no-style-hp {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.kse-col-center {
  text-align: center;
}

/* Content */
.kse-content {
  padding: 24px;
}
.kse-content-small {
  padding: 16px;
}
.kse-content-mini {
  padding: 8px;
}

/* Border */
.kse-border-radius {
  border-radius: 4px;
}

/* Divider */
.kse-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgba(5, 5, 5, 0.06);
}

.kse-divider-no-style {
  display: block;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgba(5, 5, 5, 0.06);
  margin: 0;
  padding: 0;
}

.kse-divider-primary-10 {
  /* primary-10 */
  border-top: 1px solid #00284d;
}

/* Space */
.kse-space {
  display: flex;
}

.kse-space-large {
  gap: 24px;
}

.kse-space-middle {
  gap: 16px;
}

.kse-space-small {
  gap: 8px;
}

.kse-space-align-center {
  display: inline-flex;
  align-items: center;
}

.kse-space-vertical-large {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.kse-space-vertical-middle {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.kse-space-vertical-small {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.kse-space-vertical-mini {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

/* Typography */
/* Text */
.kse-text-small {
  font-size: 12px;
}

.kse-text {
  font-size: 14px !important;
}

.kse-text-middle {
  font-size: 16px;
}

.kse-text-large {
  font-size: 20px;
}

.kse-text-primary,
.kse-text-primary * {
  /* primary-6 */
  color: #0097e6 !important;
}

.kse-text-primary-10,
.kse-text-primary-10 * {
  /* primary-10 */
  color: #00284d !important;
}

.kse-text-bold {
  font-weight: bold !important;
}

.kse-text-primary-bg {
  /* primary-6 */
  background-color: #0097e6;
  color: white !important;
}

.kse-text-secondary {
  color: rgba(0, 0, 0, 0.45);
}

.kse-text-rank1 {
  color: #ccc1b2;
}
.kse-text-rank2 {
  color: #fca729;
}
.kse-text-rank3 {
  color: #aa4743;
}
.kse-text-rank4 {
  color: #2857fa;
}

.kse-text-black {
  color: rgba(0, 0, 0, 0.85) !important;
}

.kse-text-align-start {
  text-align: start;
}

.kse-text-align-center {
  text-align: center;
}

/* Link */
.kse-link-primary-bg-hover {
  color: white !important;
  position: relative;
}
.kse-link-primary-bg-hover:before {
  content: "";
  background: white;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.kse-layout-header .kse-link-primary-bg-hover:before {
  top: 0px;
  bottom: unset;
  height: 2px;
}

.kse-link-primary-bg-hover:hover::before {
  width: 100%;
}

.kse-link-hover:hover {
  /* primary-6 */
  color: #0097e6;
}
.kse-link-hover:hover * {
  /* primary-6 */
  color: #0097e6;
  /* primary-6 */
  fill: #0097e6;
}

.kse-link-bold-hover {
  font-weight: bold;
}
.kse-link-bold-hover:hover {
  color: #003f73 !important;
}
.kse-link-bold-hover:hover * {
  color: #003f73 !important;
  fill: #003f73 !important;
}

/* Title */
.kse-title-1 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 38px;
  line-height: 1.2105263157894737;
}

.kse-title-2 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2666666666666666;
}

.kse-title-3 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3333333333333333;
}

.kse-title-4 {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
}

.kse-title-5,
.kse-title-5-wrapper .MK_p-name {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

/* Required */
.kse-required::before {
  display: inline-block;
  margin-inline-end: 4px;
  /* primary-6 */
  color: #0097e6;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.kse-required-absolute {
  position: relative;
}

.kse-required-absolute::before {
  position: absolute;
  left: -10px;
}

/* Affix */
.kse-affix {
  position: absolute;
  width: 100%;
  background: white;
  z-index: 1000;
}

.kse-affix-fixed {
  position: fixed;
  top: 0;
}

.kse-affix-hidden {
  display: none;
}

/* Absolute */
.kse-absolute {
  position: absolute;
}

/* Relative */
.kse-relative {
  position: relative;
}

/* Break */
.kse-layout-header-content .kse-break {
  content: " ";
  display: block;
  height: 20px;
}

/* Button */

/*  kse-btn  base style*/
.kse-btn,
.kse-btn-wrap .MS_input_file_button {
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 4px;
}

.kse-btn:after,
.kse-btn-wrap .MS_input_file_button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  /* primary-6 */
  box-shadow: 0 0 4px 4px #0097e6;
}

.kse-btn:active:after {
  /* primary-6 */
  box-shadow: 0 0 0 0 #0097e6;
  border-radius: 4px;
  opacity: 1;
  transition: 0s;
}

/*  kse-btn-primary*/

.kse-btn-primary {
  color: #fff;
  /* primary-6 */
  background-color: #0097e6;
  /* primary-1 */
  box-shadow: 0 2px 0 #e6faff;
}

.kse-btn-primary:not(:disabled):hover {
  color: #fff !important;
  background-color: #27b2f2 !important;
}

/* kse-btn-default */

.kse-btn-default {
  background-color: #fff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}

.kse-btn-default:not(:disabled):hover {
  color: #4096ff !important;
  border-color: #4096ff !important;
}

.kse-btn-default:not(:disabled):hover * {
  color: #4096ff !important;
  border-color: #4096ff !important;
  fill: #4096ff;
}

/* kse-btn-danger-primary */

.kse-btn-danger-primary {
  color: #fff;
  /* primary-6 */
  background-color: #ff4d4f;
  /* primary-1 */
  box-shadow: 0 2px 0 rgb(255 38 5 / 6%);
}

.kse-btn-danger-primary:not(:disabled):hover {
  color: #fff !important;
  background-color: #ff7875 !important;
}

.kse-btn-danger-primary::after {
  box-shadow: 0 0 4px 4px #ff4d4f;
}

.kse-btn-danger-primary:active:after {
  box-shadow: 0 0 0 0 #ff4d4f;
}

/* kse-btn-danger */

.kse-btn-danger {
  background-color: #fff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}

.kse-btn-danger:not(:disabled):hover {
  color: #ff4d4f !important;
  border-color: #ff4d4f !important;
}

.kse-btn-danger:not(:disabled):hover * {
  color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  fill: #ff4d4f !important;
}

.kse-btn-danger::after {
  box-shadow: 0 0 4px 4px #ff4d4f;
}

.kse-btn-danger:active:after {
  box-shadow: 0 0 0 0 #ff4d4f;
}

/* kse-btn-circle */

.kse-btn-circle {
  padding: 12px !important;
  border-radius: 100% !important;
}

.kse-btn-circle:after {
  border-radius: 100% !important;
}

.kse-btn-circle:active:after {
  border-radius: 100% !important;
}

/* kse-btn-default-active */

.kse-btn-default-active,
.kse-row-btn > .kse-btn-default.swiper-slide-thumb-active {
  background-color: #fff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  color: #4096ff !important;
  border-color: #4096ff !important;
}

/* kse-btn-large */

.kse-btn-large {
  padding: 16px 30px;
}

.kse-btn-large.kse-btn-naver,
.kse-btn-large.kse-btn-kakao-talk {
  padding: 18.25px 30px;
}

/* kse-btn-compact */

.kse-btn-compact {
  border-radius: 0px;
}

.kse-btn-compact:after {
  border-radius: 0px !important;
}

.kse-btn-compact:active:after {
  border-radius: 0px !important;
}

/* kse-btn-prefix */

.kse-btn-prefix {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.kse-btn-prefix:after {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.kse-btn-prefix:active:after {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* kse-btn-suffix */

.kse-btn-suffix {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.kse-btn-suffix:after {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.kse-btn-suffix:active:after {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/* kse-btn-disabled */
.kse-btn-disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.kse-btn.kse-btn-disabled:hover {
  cursor: not-allowed !important;
  border-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.4) !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
  box-shadow: none !important;
}

.kse-btn.kse-btn-disabled::after {
  display: none !important;
}

/* kse-btn-kakao-talk */
.kse-btn-kakao-talk {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 8px;
  line-height: unset;
  padding: 9.4px 15px;
}

.kse-btn-kakao-talk * {
  fill: #fadf2d;
}

.kse-btn-default.kse-btn-kakao-talk:not(:disabled):hover {
  color: #edc705 !important;
  border-color: #edc705 !important;
}

.kse-btn-default.kse-btn-kakao-talk:not(:disabled):hover * {
  color: #edc705 !important;
  border-color: #edc705 !important;
  fill: #edc705;
}

.kse-btn.kse-btn-kakao-talk:after {
  box-shadow: 0 0 4px 4px #edc705;
}

.kse-btn.kse-btn-kakao-talk:active:after {
  box-shadow: 0 0 0 0 #edc705;
}

/* kse-btn-naver */
.kse-btn-naver {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 8px;
  line-height: unset;
  padding: 9.4px 15px;
}

.kse-btn-naver * {
  fill: #74e05c;
}

.kse-btn-default.kse-btn-naver:not(:disabled):hover {
  color: #4ed436 !important;
  border-color: #4ed436 !important;
}

.kse-btn-default.kse-btn-naver:not(:disabled):hover * {
  color: #4ed436 !important;
  border-color: #4ed436 !important;
  fill: #4ed436;
}

.kse-btn.kse-btn-naver:after {
  box-shadow: 0 0 4px 4px #4ed436;
}

.kse-btn.kse-btn-naver:active:after {
  box-shadow: 0 0 0 0 #4ed436;
}

/*Menu*/
.kse-menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0;
  outline: none;
  display: flex;
  line-height: 46px;
  border: 0;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.88);
  background: #fff;
}

.kse-menu-dummy {
  height: 64px;
  position: relative;
}

/*MenuDepth1*/
.kse-menu-item {
  list-style: none;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  flex: none;
  margin: 0;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  vertical-align: bottom;
  padding-right: 64px;

  margin-bottom: 0;
  border-radius: 8px;
  background-color: transparent;
  opacity: 1;
  order: 0;
}
.kse-layout-header-bottom-mobile .kse-menu-item {
  padding-right: 0px;
}

.kse-menu-item:before {
  content: "";
  /* primary-6 */
  background: #0097e6;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.kse-layout-header-bottom-mobile .kse-menu-item:before {
  transition: all 0s ease-in-out;
}
.kse-menu-item:hover::before {
  width: calc(100% - 64px);
}

.kse-layout-header-bottom-mobile .kse-menu-item:hover::before {
  width: 100%;
}
.kse-menu-horizontal .kse-menu-item:hover::before {
  width: 0%;
}

.kse-menu-item:hover * {
  /* primary-6 */
  color: #0097e6 !important;
  /* primary-6 */
  fill: #0097e6 !important;
}

.kse-menu-item a {
  color: rgb(0 0 0 / 85%);
  text-decoration: none;
}

.kse-menu-item-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: initial;
}

/* Menu-Horizontal */
.kse-menu-horizontal {
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
  list-style: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.88);
  background: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;

  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}

.kse-menu-item-group {
}

.kse-menu-item-group-title {
  font-weight: bold;
  color: #00284d;
  padding: 8px 16px;
  padding-left: 0;
  padding-bottom: 0;
  font-size: 24px;

  transition: all 0.3s;
  box-sizing: border-box;
}
.kse-menu-item-group > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0px;
  margin-block-end: 0px;
  display: block;
}

.kse-menu-item-group > ul > li {
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  display: flex;
  align-items: center;
  transition: border-color 0.3s, background 0.3s,
    padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

  list-style-position: inside;
  list-style-type: disc;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;

  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.kse-menu-item-group > ul > li > a {
  font-size: 16px;
  width: 100%;
}

.kse-menu-item-group > ul > li.kse-menu-item-selected {
  background-color: #e6f4ff !important;
  /* primary-6 */
  color: #0097e6 !important;
}
.kse-menu-item-group > ul > li.kse-menu-item-selected:hover {
  background-color: #e6f4ff !important;
  /* primary-6 */
  color: #0097e6 !important;
}
.kse-menu-item-group > ul > li.kse-menu-item-selected > a {
  /* primary-6 */
  color: #0097e6 !important;
}
.kse-menu-item-group > ul > li.kse-menu-item-selected:hover > a {
  /* primary-6 */
  color: #0097e6 !important;
}

.kse-menu-item-group > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.88) !important;
}

.kse-menu-item-group > ul > li > a {
  text-decoration: none;
}

.kse-menu-item-group > ul > li:hover > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.88) !important;
}

/* Sider */
.kse-layout-sider-children {
  width: 275px;
}

.kse-layout-sider-header {
  padding: 24px;
  font-size: 20px;
  font-weight: bold;
}

.kse-layout-sider-header-customer {
  font-size: 24px;
}

/* Shadow */
.kse-shadow {
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%) !important;
}

/* Block */
.kse-block {
  width: 100%;
}

/* Responsive Visibility */

@media screen and (min-width: 0px) and (max-width: 1500px) {
  .kse-product-view-history {
    display: none;
  } /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
  .kse-affix-fixed {
    position: absolute;
  }
}

/* Icon */
.kse-icon-mini {
  font-size: 8px;
  display: block;

  height: 8px;
  color: #555;
  fill: #555;
}

.kse-icon-small {
  font-size: 16px;
  display: block;

  height: 16px;
  color: #555;
  fill: #555;
}

.kse-icon {
  display: block;
  font-size: 32px;
  height: 32px;
  color: #555;
  fill: #555;
}

.kse-icon * {
  color: #555;
  fill: #555;
}

.kse-icon-link:hover * {
  /* primary-6 */
  fill: #0097e6;
}

.kse-icon-bold-link:hover * {
  fill: #003f73;
}

.kse-icon-link:hover {
  /* primary-6 */
  color: #0097e6;
  /* primary-6 */
  fill: #0097e6;
}

.kse-icon-bold-link:hover {
  color: #003f73;
  fill: #003f73;
}

/* Badge */
.kse-badge {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;
  display: inline-block;
  width: fit-content;
}

.kse-badge-count {
  z-index: auto;
  min-width: 20px;
  height: 20px;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  text-align: center;
  /* primary-6 */
  background: #0097e6;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #fff;
  transition: background 0.2s;
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0%;
  overflow: hidden;
}

/* Card */
.kse-card {
}
.kse-card-body {
  padding: 24px;
}

.kse-card-hoverable:hover {
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);
}

/* Input */

.kse-input,
.MS_login_id.kse-input,
.MS_login_pw.kse-input,
.kse-input-wrapper input {
  height: unset;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 15px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px !important;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;

  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  resize: none;
}

.kse-input:focus:not(:read-only),
.kse-input-wrapper input:focus:not(:read-only) {
  z-index: 10;
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
  border-inline-end-width: 1px;
  outline: 0;
}

:not(.kse-input-read-only-border) input:read-only:not(.kse-input),
:not(.kse-input-read-only-border).kse-input:read-only {
  border: none;
}

.kse-input:hover:not(:read-only),
.kse-input-wrapper input:hover:not(:read-only) {
  border-color: #4096ff;
  border-inline-end-width: 1px;
}

.kse-input:placeholder-shown,
.kse-input-wrapper input:placeholder-shown {
  text-overflow: ellipsis;
}

.kse-input-btn-suffix:hover * {
  color: #0958d9;
  border-color: #0958d9;
  fill: #0958d9;
}
.kse-input-suffix-wrapper input {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  border-right: none;
}
.kse-input-suffix-wrapper button {
  height: 100%;
  border-end-start-radius: 0;
  border-start-start-radius: 0;
}

.kse-input-suffix-wrapper button:hover {
  z-index: 20;
}

.kse-input-suffix-wrapper {
  display: flex;
}

.kse-input-suffix-wrapper {
  inset-inline-start: -1px;
  border-inline-start: 0;
}

.kse-input-suffix-wrapper:hover button {
  border-left-color: #4096ff;
}

.kse-input-suffix-wrapper button:hover * {
  color: #4096ff;
  fill: #4096ff;
}

.kse-input-suffix-btn {
  height: 100%;
}

.kse-input-suffix-wrapper button:active {
  color: #0958d9 !important;
  border-color: #0958d9 !important;
  fill: #0958d9 !important;
}

.kse-input-suffix-wrapper button:active * {
  color: #0958d9 !important;
  border-color: #0958d9 !important;
  fill: #0958d9 !important;
}

.kse-input-suffix-wrapper button:active:after {
  border-end-start-radius: 0;
  border-start-start-radius: 0;
}

/* Collapse */

.kse-collapse .kse-collapse:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.kse-collapse .kse-collapse:not(:last-child) .kse-collapse-panel:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.kse-collapse .kse-collapse:not(:last-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.kse-collapse .kse-collapse:not(:first-child) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.kse-collapse {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 4px;
}
.kse-collapse-header {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 12px 16px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 1.5714285714285714;
  cursor: pointer;
  transition: all 0.3s, visibility 0s;
  box-sizing: border-box;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgba(0, 0, 0, 0.02);

  border-bottom: 0;
}

.kse-collapse-header-large {
  flex: 1;
  padding: 20px 24px;
  font-size: 16px;
}

.kse-collapse-content {
  padding: 16px;
  border-top: 1px solid #d9d9d9;
}

.kse-collapse-panel {
  overflow: hidden;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
}

.kse-collapse-panel:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.kse-collapse-panel:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.kse-collapse-header-text {
  font-size: 20px;
}

.kse-collapse-link-text {
  padding-left: 48px;
  height: 40px;
  line-height: 40px;
}

.kse-collapse-primary-wrapper * {
  border-color: #7adeff !important;
}
.kse-collapse-primary-wrapper .kse-collapse-header {
  /* primary-1 */
  background-color: #e6faff !important;
}

/* info */
.kse-collapse-info-wrapper * {
  border-color: #91caff !important;
}
.kse-collapse-info-wrapper .kse-collapse-header {
  background-color: #e6f4ff !important;
}
/*warning*/
.kse-collapse-warning-wrapper * {
  border-color: #ffe58f !important;
}
.kse-collapse-warning-wrapper .kse-collapse-header {
  background-color: #fffbe6 !important;
}
/*success*/
.kse-collapse-success-wrapper * {
  border-color: #b7eb8f !important;
}
.kse-collapse-success-wrapper .kse-collapse-header {
  background-color: #f6ffed !important;
}
/*danger*/
.kse-collapse-danger-wrapper * {
  border-color: #ffccc7 !important;
}
.kse-collapse-danger-wrapper .kse-collapse-header {
  background-color: #fff2f0 !important;
}

/* List */

.kse-list {
}

.kse-list-item {
  padding: 12px 24px;
}

.kse-list-item-small {
  padding: 8px 16px;
}

/* Tag */
.kse-tag {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 12px;
  line-height: 20px;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  display: inline-block;
  height: auto;
  margin-inline-end: 8px;
  padding-inline: 7px;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  opacity: 1;
  transition: all 0.2s;
  text-align: start;
}
.kse-tag-primary {
  /* primary-6 */
  background-color: #0097e6 !important;
  color: #fff !important;
  border-color: transparent !important;
}

.kse-tag-magenta {
  color: #c41d7f;
  background: #fff0f6;
  border-color: #ffadd2;
}

.kse-tag-red {
  color: #cf1322;
  background: #fff1f0;
  border-color: #ffa39e;
}

.kse-tag-volcano {
  color: #d4380d;
  background: #fff2e8;
  border-color: #ffbb96;
}

.kse-tag-orange {
  color: #d46b08;
  background: #fff7e6;
  border-color: #ffd591;
}

.kse-tag-gold {
  color: #d48806;
  background: #fffbe6;
  border-color: #ffe58f;
}

.kse-tag-lime {
  color: #7cb305;
  background: #fcffe6;
  border-color: #eaff8f;
}

.kse-tag-green {
  color: #389e0d;
  background: #f6ffed;
  border-color: #b7eb8f;
}

.kse-tag-cyan {
  color: #08979c;
  background: #e6fffb;
  border-color: #87e8de;
}

.kse-tag-blue {
  color: #0958d9;
  background: #e6f4ff;
  border-color: #91caff;
}

.kse-tag-geekblue {
  color: #1d39c4;
  background: #f0f5ff;
  border-color: #adc6ff;
}

.kse-tag-purple {
  color: #531dab;
  background: #f9f0ff;
  border-color: #d3adf7;
}

.kse-select,
.kse-select-wrapper select {
  height: unset;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 15px;
  padding-right: 32px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px !important;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  background-position: 100%;
  background-repeat: no-repeat;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
}

.kse-select:focus,
.kse-select-wrapper select:focus {
  z-index: 10;
  border-color: #4096ff;
  box-shadow: 0 0 0 2px rgb(5 145 255 / 10%);
  border-inline-end-width: 1px;
  outline: 0;
}

.kse-select:hover,
.kse-select-wrapper select:hover {
  border-color: #4096ff;
  border-inline-end-width: 1px;
}

.kse-select:disabled,
.kse-select-wrapper select:disabled {
  cursor: not-allowed;
  border-color: #d9d9d9;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: none;
}

.kse-select:disabled:hover,
.kse-select-wrapper select:disabled:hover {
  cursor: not-allowed !important;
  border-color: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.4) !important;
  background-color: rgba(0, 0, 0, 0.04) !important;
  box-shadow: none !important;
}

/* Alert */
.kse-alert {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  position: relative;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  border-radius: 4px;
  width: 560px;
}

.kse-alert-primary {
  background-color: #e6faff;
  border: 1px solid #7adeff;
}
.kse-alert-info {
  background-color: #e6f4ff;
  border: 1px solid #91caff;
}
.kse-alert-success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
}
.kse-alert-error {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
}
.kse-alert-warning {
  background-color: #fffbe6;
  border: 1px solid #ffe58f;
}

.kse-alert-content {
  flex: 1;
  min-width: 0;
}

.kse-alert-message {
  display: block;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 16px;
}

.kse-alert-icon {
  font-size: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
  align-self: start;
}
.kse-alert-description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.kse-alert-description .kse-alert-icon {
  font-size: 14px;
  height: 14px;
  min-height: 14px;
  align-self: auto;
}

.kse-alert-close {
  margin-left: 8px;
  font-size: 14px;
  height: 14px;
}

.kse-alert-closeable-block {
  width: calc(100% - 22px);
}

/* Descriptions */

.kse-descriptions-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: auto;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.kse-descriptions {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.kse-descriptions.kse-descriptions-bordered.kse-descriptions-small
  .kse-descriptions-item-label,
.kse-descriptions.kse-descriptions-bordered.kse-descriptions-small
  .kse-descriptions-item-content {
  padding: 8px 16px;
}

.kse-descriptions .kse-descriptions-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-view {
  border: 1px solid rgba(5, 5, 5, 0.06);
}

.kse-descriptions .kse-descriptions-view {
  width: 100%;
  border-radius: 4px;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-view > table {
  table-layout: auto;
  border-collapse: collapse;
}
.kse-descriptions .kse-descriptions-view table {
  width: 100%;
  table-layout: fixed;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-row {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

.ranks-mobile .kse-descriptions-item-label,
.ranks-mobile .rank-image-wrapper {
  width: 150px !important;
}
.ranks-mobile .kse-descriptions-item-content {
  font-size: 12px !important;
}

.ranks-mobile .kse-descriptions-item-label {
  font-size: 14px !important;
}

[class^="kse-descriptions"] [class^="kse-descriptions"],
[class*=" kse-descriptions"] [class^="kse-descriptions"],
[class^="kse-descriptions"] [class*=" kse-descriptions"],
[class*=" kse-descriptions"] [class*=" kse-descriptions"] {
  box-sizing: border-box;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-item-label {
  background-color: rgba(0, 0, 0, 0.02);
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-item-label,
.kse-descriptions.kse-descriptions-bordered .kse-descriptions-item-content {
  padding: 16px 24px;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}

.kse-descriptions.kse-descriptions-bordered
  .kse-descriptions-item-content:last-child {
  border-inline-end: none;
}

.kse-descriptions.kse-descriptions-bordered .kse-descriptions-row:last-child {
  border-bottom: none;
}
