
.join-type .member-type { text-align:center; }

.join-type .member-type dd { color:#000; margin-top:5px; }
.join-type .member-both { overflow:hidden; margin-top:15px; padding-bottom:20px; }
.join-type .member-both li { float:left; width:50%; box-sizing:border-box; color:#000; text-align:center; }
.join-type .member-both li:first-child { padding-right:15px; border-right:1px solid #dcdcdc; }
.join-type .member-both li:last-child { padding-left:15px; }
.join-type .member-both p em { font-size:1.375em; font-weight:bold; letter-spacing:-1px; }
.join-type .member-both li:first-child p em { color:#0097e6; }
.join-type .member-both li:last-child p em { color:#0097e6; }

.sns-join { position: relative;    }
.sns-join .sns-title img { max-width: 300px; width: 100% padding: 0 20px; }

.sns-join ul li { position: relative; margin-top: 10px; padding-left: 50px; height: 40px; line-height: 40px; border: 1px solid #dfdfdf; border-radius: 4px; list-style: none; }
.sns-join ul li a{ display: block; padding-left: 10px; border-left: 1px solid #dfdfdf; color: #999; font-size: 1.25em; font-weight: bold; letter-spacing: -1px; }
.sns-join ul li span { position: absolute; top: 0; left: 0; width: 50px; height: 40px; }
.sns-join ul li.naver span { background: url(/images/d3/m_01/icon/ico_sns_naver.gif) no-repeat 50% 50%; background-size: 18px auto; }
.sns-join ul li.facebook span { background: url(/images/d3/m_01/icon/ico_sns_facebook.gif) no-repeat 50% 50%; background-size: 12px auto; }
.sns-join ul li.kakao span { background: url(/images/d3/m_01/icon/ico_sns_kakaotalk.gif) no-repeat 50% 50%; background-size: 18px auto; }

.sns-join .sns-btn { margin: 20px 20px 10px 20px; }
.sns-join .sns-btn a { display: block; height: 50px; line-height: 50px; font-size: 1.25em; font-weight: bold; text-align: center; color: #fff; border: 1px solid #dfdfdf; border-radius: 5px; background-color: #999; }
.sns-join .sns-btn p { margin-top: 10px; font-size: 1em; color: #999; text-align: center; 
