#review-board-write table {width:100%; background-color:#eaeaea;}
#review-board-write table tr {height:45px;} 
#review-board-write table th {width:95px; text-align:left; padding-left:10px;}
#review-board-write table td {padding:0 10px;}
#review-board-write table .comm {width:90%;}
#review-board-write .MS_input_textarea {width:100%;}
#review-board-write .pd10 {line-height: 1.7; margin:20px 0;}
#review-board-write .write-btn {padding:0 10px;}