#board-view .pd10 {margin:10px 0;}
#board-view .detail-wrap {border-bottom:1px solid #bebebe; margin:10px 0 20px;}
#board-view .detail-wrap dt {background-color:#eaeaea; font-weight:bold; padding:10px;}
#board-view .detail-wrap dd {line-height: 1.7; font-weight:bold ;padding:10px;}
#board-view .btn_Red {margin-bottom:10px;}