iframe[name=namecheck_frame] {display:none !important; width:0px !important; height:0px !important; bottom:0 !important; right:0 !important;}
#passimg { width : 100%; border-top: 2px solid #dadada; background-color: #fff; border-bottom: 2px solid #dadada; top: 280px; text-align: center;}
#passimg .popups .head h5 {padding: 10px 0; margin: 0; color: #000; font-weight: bold; border-bottom: 1px solid #979797; }
#passimg .popups .contents {position: relative; padding: 15px 0; }
#passimg .popups .contents table {background-color: #f1f1f1; margin: 0 auto; }
#passimg .popups .contents table td {vertical-align: middle; padding: 5px 0; border: 1px solid #979797; text-align: center; font-weight: bold; color: #000; }
#passimg .popups .contents .btns { text-align: center; padding: 10px 0; }
#passimg .popups .btns a.btn-gray-h25 {width:80%; height:35px; line-height:35px; background-color:#393939; color:#fff; text-align:center; display:block; border:1px solid #393939; margin: 0 auto;}



/* =============================================================================
   아이디/비밀번호 찾기 find_idpw.html 
   ========================================================================== */

#findIdpw input[type="text"],#findIdpw  input[type="email"],#findIdpw  select {height:35px; border:1px solid #bbb; vertical-align: middle; padding-left:10px; box-sizing: border-box; -webkit-border-radius:0; border-radius: 0;}
#findIdpw input[type="radio"] { vertical-align:middle; }

#findIdpw .txt-input { display: block; max-width: 100%; width: 100%; height: 100%; border: 0 none; padding: 0; }
#passimg { width : 100%; border-top: 2px solid #dadada; border-bottom: 2px solid #dadada; top: 280px; }
#findIdpw { font-size:.75em; }
#findIdpw .member { padding:0 15px; margin:20px 0;}
#findIdpw .radio-wrap { margin:10px 0; }
#findIdpw .radio-wrap label { margin-right:30px; color:#575757; font-weight:bold; }
#findIdpw .loginInput,
#findIdpw .loginBottom { margin:0; }
#findIdpw .loginInput input {width:100%; display:block; margin-bottom:10px;}
#findIdpw .loginMiddle .btn_Red {font-size:1.167em; margin:10px 0;}
#findIdpw .loginMiddle .btn_White {font-size:1.167em;}
#findIdpw .loginBottom p { padding:18px 15px; text-align:center; font-weight:bold; background:#eaeaea; }
#findIdpw .loginBottom a { margin-top:10px; font-size:1.167em;}