#info-group dt {background-color: #464646; color: #fff; padding: 6px 10px; margin:20px 0 16px 0;}
#info-group dd {padding:0 20px; margin-bottom:5px; }
#info-group .fa-square {color:#ca3d3d;}
#info-group em {color:#ca3d3d;}